[2015-05-18 19:37] eminos opened #1 "Seek to functionality?"
This module is awesome. Exactly what i was looking for. Thank you.
I see that you have the "seek to via slider" functionality on your todo list. Do you have any code for this already, or maybe an alpha version, or an ETA? :)

[2015-05-19 15:53] arielfaur commented on #1
Thanks! I am glad you liked it. It was a bit of a challenge to put the pieces together to work. I am actually working on refactoring parts of the module. But in the meantime I have looked at the seek-to functionality which is also a bit of a challenge. I think I found an approach that could work. Will get back to you soon :)

[2015-05-19 16:24] eminos commented on #1
I'm a real newbie at angular, otherwise I would help you. It's a nice little project. Maybe later on once I get more comfortable with angular.
Thanks for looking into seek-to!

[2015-05-23 02:38] arielfaur commented on #1
@eminos i got the seek-to working today :)

Latest version is 1.2.1:
`bower install ionic-audio#1.2.1`
There is a minor change to the directives. There is a single `ion-audio-progress-bar` that works both as embedded and global, so it is even simpler now. I have updated the documentation, but basically replace `ion-audio-progress-box` with `ion-audio-progress-bar` in case you were using it.
Please

[2015-05-23 12:08] eminos commented on #1
Awesome! I will try it out this weekend.
I'm on Android, but the final app I'm building will be on iOS as well, so I will test that in about 2-3 weeks.

[2015-05-23 12:10] eminos opened #2 "Enhancement: HTML5 Audio fallback (for ionic serve/view for example)"
The title says it all :)

[2015-05-23 12:15] eminos opened #3 "Play/pause icon delay"
There is a little delay when you press the play button until it switches over to pause, and thereby gives the user any UI feedback. I understand it does this because it first checks the Media, and loads it, and so on, and when the status is right, and it starts playing, it switches to "pause".

This makes it feel slow and unresponsive. It would be better to just switch it to "pause" as soon as it'

[2015-05-23 14:07] arielfaur commented on #3
Yes, I am aware of that and I am trying to find a better approach. Will get back to you soon.
Thanks for the feedback!

[2015-05-23 14:11] arielfaur commented on #2
I thought about this, but it would clutter the module and increase the codebase all of that for the sake of testing on the dev machine. I guess it is more important to keep the codebase to a minimum and avoid any issues related to performance... just an idea. What do you think?

[2015-05-23 14:15] eminos commented on #2
I don't know how much extra code that would be, probably not that much (?). But in that case the best solution would be to have an "plugin module for fallback", maybe with a "fallback" directive, to extend the normal functionality with that fallback (if that's possible at all?) during development.

[2015-05-23 14:41] arielfaur commented on #2
I'm just scared this module is already more than 400 lines of code, we'll need minification :)
But I will look into that.

[2015-05-24 16:04] arielfaur commented on #3
I just released a new version 1.2.2 with that fix. You were right, it seems much more responsive now.
Let me know if it's alright now.

There are again minor breaking changes to the directives, because I also wanted it to be more flexible in terms of templating. The changes are documented, also the sample codepen updated.
Basically:
1. `ion-audio-controls` is used to wrap the play button and loadi

[2015-05-28 17:21] ascendedmasta commented on #1
This is great! I was actually messing with something similar a few months back, but I got busy with some other projects. I managed to get a Progress bar/Seek To working too, but it looks like your is much cleaner. Actually the whole module is much cleaner. Good job!

[2015-05-28 17:23] ascendedmasta commented on #1
Also, I have your example running on iOS on three devices: iPhone 6, iPhone 5, iPad Mini 2. :) iOS 8.3 and above. Hoping I can get it on a Note 4 soon, too.

[2015-05-28 17:29] ascendedmasta commented on #3
Works perfect for me.

[2015-05-28 17:39] ascendedmasta opened #4 "Playlist support"
This is a great module!

Any plans for playlist support? Being able to move forward and back through a playlist while stopping, and possibly releasing audio resources would be very helpful.

[2015-05-28 23:44] arielfaur commented on #1
@ascendedmasta thanks for your feedback! Good to know that it works on iOS too,
Regarding the progress bar, that is a bug. Thanks for reporting! Can you open a separate issue?
The intended use case was to disabled it by default and enable it only once the media has been loaded.

[2015-05-30 19:27] arielfaur commented on #4
I am refactoring parts of the module and am planning to include playlist support. I am just worried about performance when adding multiple tracks... I should run some tests. If you have any ideas let me know.

[2015-06-02 14:53] ascendedmasta commented on #1
Sure thing, I'll open another issue.

[2015-06-02 14:55] ascendedmasta opened #5 "Progress bar will only 'seek to' while the track is playing"
Progress bar only moves while the track is playing, and not when the current track is stopped.

[2015-06-03 11:05] stevenroh opened #6 "AAC stream support"
Hello,
I'm trying to stream an icecast server for a webradio (AAC ext).
In the emulator, it tooks approx 10sec to play sound and in my real device loading never ends.

Do you have any ideas why this thing is occurring ? Does this module is supposed to support live streams ?

Thanks for this great module !

[2015-06-03 13:04] #3 closed

[2015-06-03 13:06] #1 closed

[2015-06-03 13:20] arielfaur commented on #6
I don't think this module supports live streaming because it is based on the official Cordova Media plugin, which apparently does not (or at least I haven't found the information anywhere in the documentation).  Here's the plugin the module is based on: https://github.com/apache/cordova-plugin-media/
I found few other options that might work better for you:
- https://github.com/keosuofficial/cordo

[2015-06-03 15:48] stevenroh commented on #6
Thanks for your reply @arielfaur !

Will look the links and try.

[2015-06-03 16:20] #6 closed

[2015-06-07 20:13] arielfaur commented on #5
I've just released a new version (v1.2.3). Can you give it a try? Seek-to seems to work fine now , at least on Android.

[2015-06-08 11:05] eminos opened #7 "Issues with multiple tracks"
Great to see this module evolving.
I took an other test run today, and found some issues.
The issues are with multiple tracks. When one track is playing, trying to play an other track doesn't change the first tracks button back to "play icon". Am I missing something?

[code]

[code]

[2015-06-08 11:26] eminos commented on #7
Actually, Pause doesn't work at all for me. (BTW, I'm not using the spinner, I don't need it since it's all local files that start instantly.)

[2015-06-08 13:20] arielfaur commented on #7
hmm...interesting. I haven't tested this use case with local files but that shouldn't make a difference. I will run some tests today. Did you by any chance update to the latest version? Because I pushed a new version yesterday and I want to know if it worked fine before with the earlier release. Or did you spot the issue just today by chance?

[2015-06-08 15:36] arielfaur commented on #7
I tried different scenarios, including yours, and it all worked fine on my Android devices (4.1.2 and 5.1). Haven't tested on iOS though.
Could you please check out this Ionic project and simply run it on your device(s) ?
https://github.com/arielfaur/ionic-audio-example

Simply add a platform and run it on your device and let me know if you see any issues. I removed the spinner and progress bar ju

[2015-06-08 15:37] arielfaur commented on #7
Forgot to add that you must run `bower install` first of all :)

[2015-06-08 17:02] ascendedmasta commented on #7
I'll give this a shot on iOS as well.

I've only ever used local files to test with...Seems to have worked fine with me before.

[2015-06-08 20:19] arielfaur commented on #7
That'd be great @ascendedmasta ! Thanks!

[2015-06-10 18:48] LittleHamster opened #8 "Download locally?"
Is it possible to give the user the option to download the audios locally in order to play them when offline?

[2015-06-10 23:20] mikeblakeney opened #9 "cordova media freezes ui"
One issue I ran into with doing a similar module was that when I loaded a network audio file, the entire UI freezes until it's ready to play.  I tried to figure out a way to display an $ionicLoading indicator, but because the entire UI freezes before the indicator appears nothing gets displayed.  Anyway, I was just wondering if this has a solution for that use case?

[2015-06-10 23:37] arielfaur commented on #9
Yes, the module displays a loading spinner `<ion-spinner>` instead of $ionicLoading.  Have you tried the module yet?

[2015-06-10 23:43] mikeblakeney commented on #9
not yet.  I've already coded a media player with cordova and was digging for solutions to the whole UI freezing.  If I can get that fixed then I just need to style it up and I'm good to go.  Sounds like this plugin is definitely worth exploring more.  Thanks!

[2015-06-10 23:45] arielfaur commented on #9
Are you using Ionic at all? Because this module relies on Ionic and Angular, as well as the Cordova Media plugin.

[2015-06-10 23:46] arielfaur commented on #9
Oh, ignore my last question. I see you are using Ionic. It's late night over here :-)

[2015-06-10 23:50] mikeblakeney commented on #9
no worries.  still mid afternoon here, but I know what late nights can do.  lol

[2015-06-10 23:58] mikeblakeney commented on #9
I see where you use the ion-spinner.  but I think playback would still freeze the whole UI while it loads the audio...  This is the bug in Media I'm refering to, https://issues.apache.org/jira/browse/CB-1176

[2015-06-11 00:00] arielfaur commented on #8
That would be a really nice feature. But I feel it's out of the scope of this module right now. Maybe as an optional plugin but there are other features in the pipeline to do and I am the only maintainer so far. I will keep that in mind anyway :)

[2015-06-11 00:07] arielfaur commented on #9
That issue is two years old and it's marked as resolved! I don't see any freezing at all. In fact, I just opened the app and played media hosted on Amazon S3, while the track was loading I could switch tabs. No freezing. I tried it on my Nexus 7 running Android 5.
Simply check out this project, install dependencies and run on your device. Let me know if you see any issues!

[2015-06-11 00:43] mikeblakeney commented on #9
I didnt even see it was marked resolved.  Got the monitor glaze going.  Thanks again.  If I get the time, I'll run it on a device to check it out.

[2015-06-11 00:44] #9 closed

[2015-06-11 00:45] #5 closed

[2015-06-11 19:02] ascendedmasta commented on #5
Works perfect. Tested on iOS 6, 6Plus, and Mini2

Sorry for the late reply. I've been in training all week. I'm out tomorrow.

[2015-06-11 19:30] ascendedmasta commented on #7
@eminos  Copying and pasting your code didn't run initially...Not sure what you're trying to do with your exercise/s object array.

I did was @arielfaur did to test as well.

[2015-06-11 20:45] arielfaur commented on #7
What if you move `ng-repeat="exercise in exercises"` to the ion-audio-track tag:

`<ion-audio-track ng-repeat="exercise in exercises" track="exercise">`

Does that work for you?

[2015-06-11 20:46] arielfaur commented on #5
Thank you @ascendedmasta! Closing this issue.

[2015-06-12 02:05] jimlee2 opened #10 "not working"
hello
sorry not sure what happened to my topic here
but I can't get it to work
I am using ionic view to test it on my iphone but it does not play anything and the app crashes

[2015-06-12 13:27] ascendedmasta commented on #7
@arielfaur : When I do that I'm able to play both tracks independently and they work. However, the ability to pause either track is disabled so the music plays to the end.

If exercise track1 is playing when you press exercise track2, track1 stops and track2 starts playing (until it ends) with no ability to stop the track.

And vice versa.

[2015-06-12 13:29] ascendedmasta commented on #10
Can you give us some code? I have the app working on 3 different iOS devices.

[2015-06-12 13:49] arielfaur commented on #7
This is really weird because the ionic-audio-example project I uploaded to GitHub does exactly that, the code is very similar to @eminos code.
@ascendedmasta did you try with the example project? I am able to play one track, then play the other and still able to pause.
Maybe @eminos can put up a full sample project for us to try ?

[2015-06-12 13:52] arielfaur commented on #10
@jimlee2 it won't work with ionic view. It does not support all plugins yet. You will have to run your project with `ionic run` in order to test.
See below:
http://docs.ionic.io/v1.0/docs/view-usage

[2015-06-12 15:49] ascendedmasta commented on #7
Sorry about that...It was a syntax error on my part.

Do both the tracks play at one time?

A quick user test:

If you play another track while that spinner is still active, it will disable the ability to play that other track. I'm guessing that playlist support would correct this issue though.

[2015-06-12 15:52] ascendedmasta commented on #8
There's a couple of cordova plugins Ive used for android that will save a file to a folder in memory. You can program a way for your app to drill down to the folder/s add them to a list and use ionic-audio to play individual files. Could be useful for hearing back lectures, and such.

[2015-06-12 16:04] ascendedmasta commented on #4
Something that mimics your current format would be nice...

    <ionic-audio-playlist playist="tracks" class="list list-inset">
        <ionic-audio-track ng-repeat="track in tracks" track="track">
        ...
        </ionic-audio-track>
    </ionic-audio-playlist>

The playlist part would be only for handling controls of the playlist:
Current Selected track and it's current state (playing, pause

[2015-06-12 21:52] arielfaur commented on #8
That's an interesting point. I have also used the Cordova File plugin and the other one to download files. One question @ascendedmasta , do you know if there is a reliable plugin to encypt those files and prevent the user from directly accessing them outside the app?

[2015-06-15 00:55] arielfaur commented on #4
So the playlist should contain the playback controls in this case. I would welcome some help if you have time :)

[2015-06-15 00:56] arielfaur commented on #7
Can you upload a project for me to test your use case?

[2015-06-15 00:57] #10 closed

[2015-06-17 21:17] ascendedmasta commented on #8
I haven't done that. I know that each app declares a folder in storage where you can place files that will only be used by that app. On iOS I know this generally can't be accessed, but android give you unlimited access to App Folders and you could, in throry grab that audio file and move, copy, or delete it.

[2015-06-17 21:23] ascendedmasta commented on #4
I'll have a look at the ionic-audio.js when I get a free sec. I may be able to help a bit. :)

[2015-06-17 21:55] nickfogle commented on #7
Has anyone found the root of the pause problems. I'm noticing the same issue on iOS. The only way to stop the current track is to click play for a separate track.

[2015-06-17 22:59] arielfaur commented on #7
@nickfogle can you upload a sample project so I can test it? Unfortunately I don't have an iOS device, but I can try with the emulator. On Android everything seems to work fine though.

[2015-06-19 00:12] nickfogle commented on #7
@arielfaur After encountering the issue, I tried again using your example project. I installed all dependencies and deployed to my iPhone. I had the exact same issue with the pause button not working. There are no errors in my console, but it's like that pause button doesn't even register the touch. I'm using an iPhone 5s running iOS 8.

[2015-06-23 21:48] arielfaur commented on #7
@nickfogle I have been testing the example project on the iOS simulator, tried on the iPhone 5S and works fine at least on the emulator image! I don't have an actual iPhone to test on unfortunately. Although  I have an idea where the problem may come from. I will push some fixes. It would be great if you could give it a try on your iPhone and report back.

[2015-06-24 02:02] nickfogle commented on #7
@arielfaur thanks for looking into this. Once you push the updates, I'm happy to test it on my device and let you know how it works.

[2015-06-29 01:31] arielfaur commented on #7
@nickfogle I have been looking into the play-pause issue. Since I don't have an iOS device I can only guess where the problem comes from. I would guess it's related to the fact I disabled the play button until the track had fully loaded to avoid the use case of multiple clicks leading to unexpected behavior. Disabling the button element seemed not to work well on iOS apparently. So I have simplifi

[2015-07-02 13:25] nickfogle commented on #7
@arielfaur Nice work! I've tested on iOS and can confirm that the previous issues are now resolved.

[2015-07-02 13:37] arielfaur commented on #7
Excellent! I will build a release then. It would be great to get feedback from @eminos and @ascendedmasta too, to be on the safe side :)

[2015-07-08 18:57] #7 closed

[2015-07-21 19:38] ascendedmasta commented on #7
Tested on iOS 6, 6 Plus, and iPad Mini. The issues are resolved.

[2015-07-21 20:45] arielfaur commented on #7
Thanks a lot for your feedback @ascendedmasta !

[2015-07-30 17:02] ghammond100 opened #11 "Loading Spinner iOS"
Hi, this project is just what I'm looking for so thanks!

On iOS (iPhone 6) the loading spinner appears to freeze. I'm using it to stream mp3's from the web. The spinner spins once or twice and then stops until the audio begins to play about 30 seconds later. On my android test device (galaxy S3) the spinner spins and audio begins to play after about 1 or 2 seconds.

[2015-07-30 17:11] iamsamwood opened #12 "background playback"
Hello,

This plugin is working great for me. The only missing feature is audio playback when the app is in the background--Is this feature on the development roadmap? Thanks.

[2015-07-30 17:20] ghammond100 commented on #12
I was able to get background audio in iOS by enabling it in Xcode. Target >> Capabilities >> Background Modes. Turn the capability on, and select ‘Audio and AirPlay’. Hope that helps.

[2015-07-30 18:14] iamsamwood commented on #12
Thank you ghammond, that worked great !

[2015-07-30 18:45] arielfaur commented on #12
Good tip!

[2015-07-30 18:45] #12 closed

[2015-07-30 18:46] arielfaur commented on #11
Hmmm, I have an Android device too but mine seems to work as expected. How large are your audio files? Are your files hosted on Amazon or similar?

[2015-07-30 18:48] ghammond100 commented on #11
All files are hosted on Amazon S3 and about 20mb. Seems to work good on Android, it's iOS where I have the delay and the spinner freezes.

[2015-07-30 18:54] arielfaur commented on #11
This module uses the Cordova Media plugin for playback. Apparently it does not support streaming of MP3 files, unless you use an M3U playlis I was told.  What type of URLs are you using? And are you using Cloudfront or Amazon Elastic Transcoder?

[2015-07-30 20:24] ghammond100 commented on #11
I'm just using a url like http://bucket.s3.amazonaws.com/path/to/my.mp3". I'm not using cloudfront or Amazon Elastic Transcoder.

[2015-07-31 14:04] arielfaur commented on #11
I think the plugin will try to download the whole file before playback, so that may be the lag you are experiencing. I bet you can check that with Chrome Dev tools in the network tab.

[2015-08-03 20:35] ghammond100 commented on #11
Okay I'll look into that. Thank you for the info.

[2015-08-10 17:17] #11 closed

[2015-08-11 17:35] ghammond100 commented on #11
I created a m3u file with a single entry pointing to a mp3 on Amazon S3. I tested it with VLC media player to make sure it worked. Unfortunately it doesn't seem to work with this plugin. If I replace the track mp3 URL with the m3u URL nothing happens. The loading spinner just spins.

I found you forum discussion with ghenry22 that mentions the m3u. I can't seem to find any other information about

[2015-08-11 21:31] ghammond100 commented on #11
I remembered the Cordova Media Plugin is a dependency so I removed the official plugin and installed ghenry22's fork. I still was unable to use a m3u file. I tested on iOS and android. On iOS the error I see is:
    `Failed to initialize AVAudioPlayer: The operation couldn’t be completed. (OSStatus error 1954115647.)`

After searching this error I believe it means its an unsupported file format fo

[2015-08-11 21:38] arielfaur commented on #11
Maybe you should head over to that other thread on the Ionic forum and ask ghenry22 directly. He seems to have found a way to make it work. If you manage to make it work then I can make the necessary changes to this module if needed.

[2015-08-11 21:54] ghammond100 commented on #11
Okay will do. I submitted a pull request (my first one) for the readme on installing cordova media plugin. I'm a novice with this so hopefully that was helpful.

[2015-08-17 10:00] cisnb125 opened #14 "Dynamic track loading?"
Hello, first of all, a huge thanks for this awesome project.

I currently have an ionic-audio code block embedded in my footer like so.

    <ion-audio-track track="myTrack">
      <ion-audio-controls>
        <a class="button button-icon icon" ion-audio-play></a>
        <ion-spinner icon="ios"></ion-spinner>
      </ion-audio-controls>
    </ion-audio-track>

In my controller, $scope.myTrack is

[2015-08-17 16:13] arielfaur commented on #14
You're right. This functionality is not yet implemented. We would need to add a ```$scope.$watch``` to the ```ion-audio-track``` directive and update the ```MediaManager```  dynamically with the new track information. I'm quite busy these past weeks but I will see if I can look into it sometime this week.

[2015-08-18 01:08] cisnb125 commented on #14
Thank you!

[2015-08-22 11:04] promactkaran opened #15 "Test On Android 4.1.2 fails. The track Does not play."
Is there any work around? I have serach n number of ways. But audio does not play on android 4.1.2

[2015-08-22 19:13] arielfaur commented on #15
I actually have a Samsung S2 with Android 4.1.2 and it works without any problems. Have you installed the Media plugin?

[2015-08-24 19:35] promactkaran commented on #15
Its very strange, Its working now. The problem is with the webView I think. After 2 days of struggling I found out something. Actually I was using css `position: absolute` and `top: 30%` to the audio-player. Strangely running on simulator and devices the click (play button) was not clicking (it was on screen , visible and all but not actually clicking)

Solution: I had to remove the CSS position a

[2015-08-24 19:35] #15 closed

[2015-08-28 23:00] #14 closed

[2015-09-11 19:31] puterleat opened #18 "Request:"
Would it be possible to broadcast events when the player status changes, for example to enable other elements to update to indicate a track is playing, or for analytics code?

[2015-09-20 16:00] arielfaur commented on #18
Sure. You mean a simple ```$rootscope.$broadcast``` with the new status code? Right now this is being done only to notify the progress bar but that can be easily added.

[2015-09-28 03:06] jonbongato commented on #14
Hi @arielfaur, I recently have come across this same need and am wondering if you've had a chance to add this functionality?

[2015-09-28 14:58] adeyo92 opened #19 "iOS Support"
Hi!

I was wondering if this plugin has been tested on iOS yet?

[2015-09-28 15:38] arielfaur commented on #19
Hi! Yes it works on iOS ☺️

On Monday, 28 September 2015, Laolu Adeyo <notifications@github.com> wrote:

[2015-09-28 15:40] arielfaur commented on #14
Not yet. But I'll do my best to do that in the next week or so.

On Monday, 28 September 2015, jonbongato <notifications@github.com> wrote:

[2015-09-30 15:04] adeyo92 commented on #19
Hi,
I implemented this last night in a streaming app I was working on, It worked fine on my android but on my iOS device it freezes once I hit the play button. I'm not sure why.

[2015-09-30 15:31] arielfaur commented on #19
What iOS version are you on? iOS will freeze the UI while the track is loading by default, but then the track should start playing. At least that is the behavior I have seen and what others have reported. Can you see anything in the console?

[2015-09-30 15:49] adeyo92 commented on #19
Hi, I am using iOS version 7.1.2. When I ran the ionic serve command and opened the console I saw "ionic-audio: missing Cordova Media Plugin. Have you installed the plugin?
Run 'ionic plugin add org.apache.cordova.media'"

But I have already installed the cordova media plugin

[2015-09-30 15:52] arielfaur commented on #19
This will not work with ```ionic serve```. You need to test on your device.
There's an error in the documentation. To make sure you have the latest Media plugin remove it and add it again with:
```ionic plugin add cordova-plugin-media```

[2015-09-30 16:37] adeyo92 commented on #19
Hi,
I removed the media plugin and reinstalled it, I ran it on my iOS device, but it still freezes again. It still plays fine on the android

[2015-10-02 14:49] arielfaur commented on #19
Is it an iPhone 4? I've never tested on iOS 7.1.2. Only on iOS 8.4.1 and 9.
You should be able to do remote debugging if you have your iPhone plugged to your dev machine and open Safari as explained here:
http://phonegap-tips.com/articles/debugging-ios-phonegap-apps-with-safaris-web-inspector.html

Then you can open your device's console window while you're running your app. Let me know if you see

[2015-10-09 19:30] fabiancarlos opened #20 "How debug if is working?"
So, i tried to use your module, but aperently dont work, i used your example but i could not make it work.

[2015-10-09 21:55] fabiancarlos commented on #20
i missed to install ng-cordova, that`s why dont worked before!

[2015-10-09 21:55] #20 closed

[2015-10-19 13:16] Neophy7e opened #21 "Bower main property"
Hi,

Can you please add "main" : "dist/ion-audio.js" in bower.json ?

It would enable wiredep to automatically add ionic-audio dependencies to the index.html.

Thanks

[2015-10-19 13:22] zooofeex commented on #21
Hi,

meanwhile you can override your bower's configs
https://github.com/taptapship/wiredep#bower-overrides

[2015-10-19 13:25] Neophy7e commented on #21
That's what I did, I just find it cleaner to not overrides them in case of you add other dependencies in the future or change the filename

[2015-10-22 22:04] arielfaur commented on #21
I can certainly add that. I will do it as soon as I find some free time. Feel free to send a pull request if you prefer!

[2015-11-05 12:41] avarx opened #23 "Livestream"
Maybe I missed something, as I'm currently not able to play a radio stream.
Is planned to support this kind of audio-files?

[2015-11-05 12:43] avarx commented on #23
Sorry. Can be closed.
Just found: https://github.com/arielfaur/ionic-audio/issues/6

[2015-11-14 11:25] nuruddinbadawi opened #25 "How i can get current playing value from ionic-audio ?"
i need to change style for progress bar and use other progress but i need to pass current timer when playing
how ? and thanks .

[2015-11-17 12:11] sksshareef opened #26 "Error in Success callbackId facing issue ios"
Hi I am facing this error,
in my project in one page I am getting all audio list dynamically and next page with controller
calling the audio like this
$scope.track = $rootScope.songsObject[$stateParams.id];
and the audio is playing well no issue I am going back again getting the list of audio's and again selected another one its working but same after 3 to 4 audio's just the spinner is rotating no

[2015-11-17 12:13] sksshareef commented on #26
Its working fine in the simulater but facing the issue on iphone ios 7.1.2

[2015-11-17 17:24] arielfaur commented on #26
Could you provide a code example? I cannot follow what you are trying to do.

[2015-11-17 17:33] arielfaur commented on #25
To change the style of the progress bar I would recommend using ```ng-class```:
[code]

Check this example: http://codepen.io/anon/pen/pjGXGX

[2015-11-17 17:33] #23 closed

[2015-11-18 15:15] frannnnk opened #27 "Audio not play until file downloaded to device, screen no response during download"
Thanks for the amazing plugin, I have a problem with it however. I have lots of audio files in the server which is pretty large, say from 10MB to 120MB, when testing the player in simulator I found that it seems the player will only play the audio until the whole audio file has been downloaded to the device, while during downloading process the device is frozen in the screen and cannot do anything

[2015-11-19 06:39] frannnnk commented on #27
I think it is pretty confirmed that the audio won't play until it is fully downloaded. in this way is there a way to display a download status, or first download the file using filedownload api and then play it as a local file, which provides a better user experience.

[2015-11-19 14:20] arielfaur commented on #27
Yes, this has been discussed in another thread here. The Cordova media plugin does not support streaming, it will download the whole file before starting playback. In your case I would use HTML5 audio which supports progressive download, or implement my own player using the Web Audio API. I am currently working on a new version of ionic-audio which will support HTML5 audio too, so that developers

[2015-11-19 19:59] leonardosalles commented on #27
@frannnnk I have the same problem and solved it by download the file in background using a plugin [Cordova Download Background](https://github.com/sgrebnov/cordova-plugin-background-download) and when download is complete I used the file from fileSystem, this work perfectly for me but remember to set all files that you download to not send it to icloud, I created a gist with the code that I used,

[2015-11-20 08:16] frannnnk commented on #27
Thanks @leonardosalles and @arielfaur , I made some mod to arielfaur's API and added the ability to download the file first (using cordova file transfer) with a friendly progress bar, and once the file is downloaded it will start playing. By the way @leonardosalles you mentioned not to send the downloaded file to iCloud, beside the iCloud storage concerns is there any other concerns for this? Such

[2015-11-20 17:11] leonardosalles commented on #27
@frannnnk I'm not sure buddy, but if you add the file to backup on iCloud I think you need to store the file at the right iCloud directory, you can check [this link](http://makina-corpus.com/blog/metier/2014/the-right-location-for-your-cordova-app-files) for more information to how not sync files, but I think Apple will reject your app if you dont put BackupWebStorage to false at you config.xml

[2015-11-25 08:57] nuruddinbadawi opened #28 "allow stop playing when close ionic modal"
how i can stop playing audio when i close ionic modal
i have hook when close modal but i can't access to audio stop function who i can do this ?

and thank you

[2015-12-01 18:55] BrettKoenig opened #29 "Play Audio in background"
Hey,
I was wondering if there is a way to have the audio play when the app is minimized or the screen is locked.

I found for the cordova media plugin you can pass a parameter to the play function like below:
var iOSPlayOptions = {
                numberOfLoops: 1,
                playAudioWhenScreenIsLocked: true
            }
            currentMedia.play(iOSPlayOptions);

But this doesn't seem

[2015-12-01 19:19] arielfaur commented on #29
Hi @BrettKoenig ! You need to enable background audio in xCode. If I remember correctly the switch is located in Target -> Capabilities -> Background Modes. There you simply need to enable background audio.

[2015-12-01 19:21] #29 closed

[2015-12-01 19:21] BrettKoenig commented on #29
Thanks for the quick response @arielfaur !

[2015-12-02 07:29] sksshareef commented on #26
this is my song list controller

ionicApp.controller("SongController",['$scope','$state', '$http', 'ApiEndpoint','$rootScope','$ionicLoading', '$cordovaNetwork','$cordovaDialogs', function($scope, $state, $http, ApiEndpoint,$rootScope, $ionicLoading, $cordovaNetwork, $cordovaDialogs) {
  $ionicLoading.show({
    template: '<ion-spinner></ion-spinner>'
  })
	$rootScope.songsObject = null;
	$scope.s

[2015-12-02 07:42] sksshareef opened #30 "Plugin should use a background thread warning"
Geting this warning in Xcode
THREAD WARNING: ['Media'] took '11719.759033' ms. Plugin should use a background thread.

[2015-12-03 22:17] arielfaur commented on #30
That warning is related to the Cordova Media plugin, which is being used by this module. It is not something that I can control. That plugin is maintained by Cordova.

[2015-12-03 22:23] arielfaur commented on #26
It's very hard to follow the code as it is. Maybe you can apply some formatting. Besides looking at the Xcode console you should open the Safari developer console, and then pick iPhone for remote debugging. There might be a Javascript error that you are not seeing.
Have you done that? It is explained here:
http://developer.telerik.com/featured/a-concise-guide-to-remote-debugging-on-ios-android-and

[2015-12-04 07:17] sksshareef commented on #26
Thanks for quick reply bro ,

Ya i did the same and with some neat coding

when the song is playing am going back and selecting one more song and song
is playing again going back at that time i got some error in web console

Error in Success callbackId: Media642205264 : TypeError: 'undefined' is not
an object (evaluating 'currentTrack.progress = position')
TypeError: 'undefined' is not an object (

[2015-12-04 07:19] sksshareef commented on #26
![screen shot 2015-12-04 at 12 44 22 pm](https://cloud.githubusercontent.com/assets/14145809/11583953/68a22456-9a85-11e5-8a61-240ea3eb70f4.png)

[2015-12-04 07:23] sksshareef commented on #26
After this error i am able to move around the app and others songs also but when ever i select others song i get the object and ionic-audio : playing track track-name also
but on screen just spinner is rotating
please help ,
thanks

[2015-12-04 07:25] sksshareef commented on #26
And also my updated Controller Code

ionicApp.controller('MusicCtrl2', function($scope,$rootScope, $stateParams)
{
  $scope.song = $rootScope.songsObject[$stateParams.id];
  console.log($scope.song);
  var songUrl = $scope.song.url;
  var songTitle = $scope.song.title;
  var songImage = $scope.song.teluguImage;

    $scope.tracks = [
        {
            url: songUrl,
            artist: songTitl

[2015-12-04 07:47] sksshareef commented on #26
one more use case ,
if before going back if i pause the song and go back and select other songs doing the same number of time , Then its working fine and great
so i think may be the error is with media is not getting released properly when pressing back while  audio is playing .

[2015-12-04 15:49] arielfaur commented on #21
Done!

[2015-12-04 15:49] #21 closed

[2015-12-04 15:51] arielfaur commented on #28
Hi! Download the latest module version and check out the documentation. You can inject ```MediaManager``` in your controller and call ```MediaManager.stop()``` to stop any track currently playing.

[2015-12-04 15:51] #28 closed

[2015-12-05 05:08] sksshareef commented on #26
Great work bro that problem is resolved and now the performance also greatly improved .
but one small issue when i click the play button spinner is rotating and getting hang till it play the file

[2015-12-05 07:00] nuruddinbadawi opened #31 "$scope.track.play is not a function"
hi ! , after update 'Uncaught TypeError: $scope.track.play is not a function' .

[2015-12-05 15:41] arielfaur commented on #31
What is your use case? Can you show me your code?

[2015-12-05 15:43] arielfaur commented on #26
That is the way Cordova Media plugin works in iOS it freezes the UI while loading the file.

[2015-12-05 16:12] sksshareef commented on #26
Thankss so kuch bro great work  and looking forward more functionalities
On 5 Dec 2015 9:13 pm, "arielfaur" <notifications@github.com> wrote:

[2015-12-06 06:54] nuruddinbadawi commented on #31
in my controller :
[code]

in html :
[code]

after load page show me " $scope.track.play is not a function " just this .

and thanks :+1:

[2015-12-06 19:46] arielfaur commented on #31
I see you are dynamically assigning ```$scope.track```. That use case was not supported.
I am currently working on a version that makes tracks observable so that should work for your case.
Can you try the version from this branch? https://github.com/arielfaur/ionic-audio/tree/feature-track-observable
There is only one breaking change in this version: you need to add the track property to the progr

[2015-12-07 04:16] #26 closed

[2015-12-07 06:51] nuruddinbadawi commented on #31
yes with this branch sound work will
good work :+1:
and tell me when finish new version.
------------------------
Question :
i need to ask if you support backward and forward sound ?

-------------------------
sorry for inconvenience and thank you .

[2015-12-07 17:00] arielfaur commented on #31
You mean something like a playlist? Not yet. But it's on the TODO list!

[2015-12-07 20:56] bankim opened #32 "This code is not working for me."
Hi, this code code is not working for me.

[2015-12-07 21:53] nuruddinbadawi commented on #31
i mean forward is same media not next media in playlist

On Mon, Dec 7, 2015 at 7:00 PM, arielfaur <notifications@github.com> wrote:

[2015-12-07 22:04] arielfaur commented on #31
This is already in there. The progress bar has a slider that lets you move forward within a track.

[2015-12-08 09:36] nuruddinbadawi commented on #31
And About Download Locally
New eagerly await :)
Thank you for good work .

On Tue, Dec 8, 2015 at 12:04 AM, arielfaur <notifications@github.com> wrote:

[2015-12-09 07:17] nuruddinbadawi commented on #31
hello pleas i need some help
how i can manage this :
- when press back button i need to continue media playing why stopping ?
- also i need to show media controller for pause or stop audio in status bar

and thank you

On Tue, Dec 8, 2015 at 11:36 AM, nour aldeen <nourba691@gmail.com> wrote:

[2015-12-10 17:02] leonardosalles commented on #32
You need to be more specific buddy, what kind of error do you get? When you say that the code is not working to you and not specify any additional data it is white trash.

[2015-12-10 17:08] leonardosalles commented on #30
The problem was with js2native bridge. Cordova has different methods to communicate with native library (bridge mode):

- XHR with, w/o or optional payload;
- iframe hash with or w/o payload;
- iframe nav.

In cordova.js you can find iOSExec function. For iOS (except iOS 5) bridge mode is set to IFRAME_NAV.

Previous developer made couple of mistakes when on project design phase - and one of them

[2015-12-10 17:23] leonardosalles commented on #31
@nuruddinbadawi you talk about statusbar at the top on ios? or the control center at the bottom of device?

[2015-12-10 17:26] leonardosalles commented on #19
You checked if sound starts play after a minute? If you use this on iOS the app will freeze until all the audio files is downloade.

[2015-12-10 17:29] leonardosalles commented on #8
Hi,

I already used  (this plugin)[https://github.com/sgrebnov/cordova-plugin-background-download] before and it encrypt the file, so you cannot access file directly. I am not sure if it is hard secure because I guess the plugin using something like MD5 to encrypt but is better than nothing.

[2015-12-10 17:34] leonardosalles commented on #2
@arielfaur I think you can separete the module of HTML5 audio, and it can be removed with a cordova hook when we make the build, so you will only need to include the module and the javascript of HTML5 audio, like 'ionicAudio.HTML5Mock' and remove it when it is not on the dev. I can work on this feature and submit a pull request, sounds good for you?

[2015-12-10 17:43] arielfaur commented on #2
It was on my roadmap too. But go ahead and submit a pull request!

[2015-12-10 17:47] arielfaur commented on #31
@nuruddinbadawi  To download audio locally you need to use $cordovaFileTransfer, that is out of the scope of this module.
If you are on iOS you need to enable background audio in xCode. Also make sure your $scope isn't destroyed when you switch views, otherwise playback will stop.
For the status bar I have no idea. Maybe you need a separate service for that.

[2015-12-10 18:32] leonardosalles commented on #2
Sure, I will implement the way that I mention

[2015-12-10 20:12] bankim commented on #32
Please see the log here. And if you can help me on that.

sudo ionic platform add ios
Error: %s Error: ENOENT, no such file or directory '/Users/bankimdebnath/Downloads/ionic-audio-master/hooks'
    at Error (native)
    at Object.fs.readdirSync (fs.js:761:18)
    at Object.setHooksPermission (/usr/local/lib/node_modules/ionic/node_modules/ionic-app-lib/lib/hooks.js:116:24)
    at Object.IonicTask

[2015-12-10 20:21] bankim commented on #32
after download the file I am not getting hooks folder and config.xml file. can you update it up and run standards ??

[2015-12-10 20:59] arielfaur commented on #32
You don't need to use sudo to add the platform. It seems you have some permission issues.

[2015-12-10 22:36] leonardosalles commented on #32
Yeah, try to run the command without sudo, if it not work try to change the chmod/permissions of your project folder

[2015-12-11 15:36] bankim commented on #32
yes now it is running on simulator. but i am seeing anything there. it is a blank screen.

[2015-12-11 16:04] adeyo92 commented on #19
I was able to get it working about a month ago. I think it was because I was trying to access an m4a file not an mp3. Thanks for the

[2015-12-11 16:34] leonardosalles commented on #19
You're welcome.

[2015-12-13 09:44] nuruddinbadawi commented on #19
who I can make play Audio When Screen Is Locked in IOS?

[2015-12-13 14:48] arielfaur commented on #19
You need to enable background audio in xCode

On Sun, Dec 13, 2015 at 6:44 AM, nuruddinbadawi <notifications@github.com>
wrote:

[2015-12-15 08:12] nuruddinbadawi commented on #19
in IOS when start playing its take long time to starting play and spinner is frozen
how to fix this and thanks?

[2015-12-15 09:24] nuruddinbadawi commented on #31
the $scope is not destroyed because when to navigate between state is not stop playing just when I press back button
who fixed ?

[2015-12-15 14:51] arielfaur commented on #19
There is no fix for that. That's how the Cordova Media works.

[2015-12-15 15:09] arielfaur commented on #31
It's hard to tell what's going on without seeing code. Maybe you can create a codepen with the use case you are describing.

[2015-12-15 16:46] kyoshiro2708 opened #33 "How to make it work with ng-repeat based on JSON feed"
Hi,

I cannot make it work with the below code :

Controller (gets the JSON feed from my URL as an Array and put it in rootScope.musiques) :

      $http.get('myURL').then(function (resp) {
               $rootScope.musiques = resp.data.posts;
      }

In HTML :
Using ng-repeat to get the track info one by one from the array.
The thumbnail & title is showing correctly, but when clicking on the pla

[2015-12-15 17:02] arielfaur commented on #33
Why are you using ```$rootScope``` to bind data to the view? Can't you use ```$scope.musiques``` to bind data to your view?

[2015-12-15 20:22] kyoshiro2708 commented on #33
Indeed, I could use $scope instead of $rootscope, but this doesn't solve the issue.

I think I found it, but have no idea how to fix it.

My Json provide this info for the url ==> url: "http://MyURL.be/2015/12/14/Michael-Jackson-2/", which is the link of the article that contains the MP3 and not the link to the MP3 itself.

Is there a way to change the attribute URL in ly code to be any attribute

[2015-12-16 00:57] arielfaur commented on #33
I am not sure I understand the problem. What do you mean with the article that contains the mp3?

[2015-12-16 07:50] nuruddinbadawi commented on #31
after debugging
when press back button execute  MediaManager.destroy(); in line 273
[code]

What is the reason that doing Destroy ?

[2015-12-16 13:48] arielfaur commented on #31
That is to avoid memory leaks, it simply releases the media resources when the scope is destroyed. But the problem seems to be that your scope is being destroyed. Have you disabled view caching?

[2015-12-16 13:57] nuruddinbadawi commented on #31
No Caching is Available

[2015-12-16 14:01] arielfaur commented on #31
You can comment that line in the source code if you find it inconvenient.

[2015-12-16 14:09] nuruddinbadawi commented on #31
i tried enable forwardCache " $ionicConfigProvider.views.forwardCache(true) "
and working good :dancer:
this is good idea ?

[2015-12-16 14:50] kyoshiro2708 commented on #33
Basically, I have a news website in which, each page contains news information.
From the website, I can generate a JSON per page like :

     "posts": [
        {
            "id": 13914,
            "type": "post",
            "title": "tax-litigation-at-your-door-test",
            "url": "http://myURL.be/2015/12/10/tax-litigation-at-your-door-test/",
           "custom_fields": {

[2015-12-16 15:55] arielfaur commented on #33
I see the problem now. What you need to do is apply a mapping function to your JSON array to create a new array with the properties the ionic-audio module expects. Something like this:

[code]

And here's the documentation for ```map``` :
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/map

[2015-12-16 20:49] kyoshiro2708 commented on #33
Thank you very much !! That's exactly what I needed.
I have been able to generate my list of tracks based on the JSON.

Last question : When pressing the play icon, the song starts, but the spinner doesn't move nor it shows the duration of the song on the right of the spinner's line.

I have this code :

          <div class="item item-divider">
            <ion-audio-progress-bar display-time></i

[2015-12-16 22:42] arielfaur commented on #33
Are you using the code from the observable branch? If so you need to add the ```track``` parameter to the progress bar.

[2015-12-17 15:41] kyoshiro2708 commented on #33
Thanks a lot for your help, everything works fine now.

You can close the topic.

[2015-12-17 15:41] #33 closed

[2015-12-18 15:26] arielfaur commented on #32
You should check the device console (using remote debugging) to see if there are any errors

[2015-12-18 15:28] arielfaur commented on #31
Yes! I just read about it, seems to solve exactly your problem.

[2015-12-20 09:47] nuruddinbadawi opened #34 "how to add two ion-audio-track with sync?"
hi ..
I want to add tow ion-audio-track one in the page contetnt and the other in top controller
this mean parent audio controll for manage inside other pages
I tried to add ion-audio-track in tow place and make track in rootScope for sharing the same data
but the problem is progress bar not working in two place
there are other options for doing it like this?

[2015-12-21 15:32] badawiZad commented on #19
hi ..
I have a problem with IOS when to play any Audio the app is freeze 10 sec or 15 after that is start play
why ?

[2015-12-22 21:44] arielfaur commented on #34
In order to bind track data to the view, the data needs to assigned to your view's  $scope (not the global $rootScope). You could use Angular event system to communicate between views.

[2015-12-23 14:30] nuruddinbadawi commented on #19
![screen shot 2015-12-23 at 13 48 30](https://cloud.githubusercontent.com/assets/5736522/11978139/e3f5de98-a991-11e5-935b-d9a3b82e7402.png)

I have problem in ios when play audio app is freezing
please any solution if anyone know how fix this ?

[2015-12-23 17:04] adeyo92 commented on #19
I think that's just how it works for iOS. Since the cordova media plugin does not support streaming, it is going to freeze until the audio file is completely downloaded. I would suggest using maybe Web Audio API instead
example: https://www.airpair.com/ionic-framework/posts/using-web-audio-api-for-precision-audio-in-ionic

[2015-12-26 07:15] nuruddinbadawi commented on #19
this article's very complicated .

[2015-12-29 09:00] nuruddinbadawi commented on #19
Is there a way to solve the freezing problem temporarily?
For example, show loading or something else.

[2016-01-04 08:07] nuruddinbadawi commented on #19
who I can allow stop audio in background mode and I enable background mode in xCode and work good
but the problem is I can't pause audio outside application .

[2016-01-04 13:45] remib opened #35 "Uncaught TypeError: Object #<Object> has no method 'play' on Android"
I had the plugin working previously with an older version of cordova but since updating to the latest, I get this error while running on an Android device:

    Uncaught TypeError: Object #<Object> has no method 'play'

My usage case follows the same as the example on the ionic audio website. When I tap the play button I see the loading spinner but get the above error in console.

The media plugin

[2016-01-06 11:42] arielfaur commented on #35
Can you post some code? Are you loading your tracks dynamically by any chance?

[2016-01-06 11:47] arielfaur commented on #19
You can use ```MediaManager.stop()``` as explained here: http://arielfaur.github.io/ionic-audio/#MediaManager

[2016-01-14 16:16] OJcode14 opened #36 "iOS spinner stops while file downloads"
Appears the spinner stops while the file is downloading on iOS before playing, giving the impression of a freeze or a crash...

I'm using the feature-track-observable branch as I'm using signed URL's and setting the track URL dynamically.

Any ideas why the spinner does that?

[2016-01-16 18:02] #25 closed

[2016-01-16 18:03] #19 closed

[2016-01-16 18:03] #30 closed

[2016-01-16 18:03] #31 closed

[2016-01-16 18:03] #27 closed

[2016-01-16 18:04] #32 closed

[2016-01-16 18:04] #34 closed

[2016-01-16 18:10] arielfaur commented on #36
Yes this has been discussed quite a few times. It is the expected behavior in iOS because the Media plugin needs to download the entire media before playback is possible. See #11

[2016-01-18 16:22] Narayon commented on #2
The HTML5 Audio implementation is really small. Take a look at this:
goo.gl/SwFVga
Besides that, why should we use the Cordova Media plugin instead of the HTML5 Audio element or even the Web Audio API? Is it more performant? More options?

[2016-01-24 11:59] mrbankim opened #37 "Spinner is not getting disappear and pause button not converted to play button after finishing music play in android."
Hi Arielfaur,

Issue with android platform.

[2016-01-24 19:26] mrbankim commented on #37
Hi,

Now i am able to run it on android too. The problem was for android "cordova-plugin-media" was not installed, so now play button is working but after complete the track pause button is not changing to play button again and spinner is still moving continuously after finish the track.

Thanks.

[2016-01-25 21:22] mrbankim commented on #37
Hi,

May be the issue is due to bellow console output. But I am not sure. I have update android to 5.0.0. Still the same issue.

["Plugin doesn't support this project's cordova-android version. cordova-android: 4.1.1, failed version requirement: >=5.0.0-dev"]

Bankims-MacBook-Pro:myAudio bankimdebnath$ sudo ionic plugin add cordova-plugin-media
Updated the hooks directory to have execute permissio

[2016-01-27 17:39] arielfaur commented on #37
@mrbankim sorry it took me long to reply. I am really busy these weeks. This type of issue has been reported a few times. In general, this is related to some missing/corrupt files in your project. I see you have permission issues with your project. I don't think you should run ```ionic``` with ```sudo```. Maybe some OSX expert can comment on this but I would start with a fresh project, install Med

[2016-01-27 17:41] #36 closed

[2016-01-27 18:07] mrbankim commented on #37
But the same is working fine for iPhone.

[2016-01-27 18:10] arielfaur commented on #37
Can you open your device console while the app is running and see if there are any errors logged?

[2016-01-27 18:19] mrbankim commented on #37
No, there is no any error logs. :(

[2016-01-27 18:21] arielfaur commented on #37
Try removing the platform and adding it again. Has worked in the past to fix some inconsistencies.

[2016-01-27 18:23] mrbankim commented on #37
several times I have created fresh projects but all the times it is same.

[2016-01-27 18:28] arielfaur commented on #37
I am rereading your logs. It seems you need to update your cordova version. Run ```cordova -version```
On my computer I get: 5.1.1

[2016-01-27 18:30] mrbankim commented on #37
For me:  cordova -version
5.4.1
Bankims-MacBook-Pro:myAudio bankimdebnath$

[2016-01-27 18:37] mrbankim commented on #37
See the log .. I have removed and ad it again. not getting this err log.

Installing "cordova-plugin-media" for android
Plugin doesn't support this project's cordova-android version. cordova-android: 4.1.1, failed version requirement: >=5.0.0-dev
Skipping 'cordova-plugin-media' for android

[2016-01-27 18:41] arielfaur commented on #37
What happens if you run ```cordova platform update android```

[2016-01-27 18:54] mrbankim commented on #37
No, nothing happen.. after update i ran this.. see the log below. But if i run "cordova platform update android@5.0.0"  then it i am not getting below error log.

ionic plugin add cordova-plugin-media
Fetching plugin "cordova-plugin-media" via npm
Installing "cordova-plugin-media" for android
Plugin doesn't support this project's cordova-android version. cordova-android: 4.1.1, failed version requ

[2016-01-27 19:01] arielfaur commented on #37
How are you using the module? Maybe a code sample from your controller to see if there's anything there.

[2016-01-27 19:06] mrbankim commented on #37
Is it due to something latest version of Android or Cordova?

[2016-01-27 19:14] arielfaur commented on #37
What do you mean?

[2016-01-27 19:17] mrbankim commented on #37
I just downloaded the code sample from your repository and ran it after adding "cordova-plugin-media" and "bower install ionic-audio".

[2016-01-27 19:51] mrbankim commented on #37
Thanks for your time. Please have a look into this once you will get time. :) Thanks again..

[2016-01-30 20:36] mrbankim commented on #37
Hi,

This is really a genuine issue. I have deployed the same in windows system and ran there also same issue (Spinner is not getting disappear and pause button not converted to play button after finishing music play in android). As you told me that may be problem with sudo i used in mac but for windows also I am getting the same issue. Please have a look into this, other wise it is use less. no o

[2016-02-01 20:08] joelelangovan1985 commented on #37
+1

[2016-02-01 20:15] joelelangovan1985 commented on #37
Installed Perfectly on another app, which i created 15 days ago, but now its not working in my new project.  Here is my controller
`app.controller("ExampleController", function ($scope) {

  $scope.track = {
    url: 'http://k003.kiwi6.com/hotlink/cay8j82ed1/Introduction_to_Romans_-_Tamil_message.mp3',
    //url: 'https://googledrive.com/host/0B_0gV-62NNMNd0d6NXY2UjU0Wkk/1.Five_points_for_fruitful

[2016-02-04 10:11] arielfaur commented on #37
@joelelangovan1985 do you see any errors in the javascript (web) console?

[2016-02-04 10:13] arielfaur commented on #37
@mrbankim I cannot reproduce the problem on any of my devices so there is nothing I can do. It seems you're also the only one having this issue. Maybe you can send me your APK file, or you can upload the project somewhere.

[2016-02-04 10:16] arielfaur commented on #2
@Narayon  It's on the TODO list!

[2016-02-04 10:21] mrbankim commented on #37
Hi, Thanks for your reply.

I think @joelelangovan1985  also facing same problem. Anyway I am sending you the apk file. Please have a look on this. Please give your email id so i can send it to you.

[2016-02-04 10:25] arielfaur commented on #37
Send it to ariel.faur@gmail.com

Make sure it is compiled in debug mode.

On Thu, Feb 4, 2016 at 7:21 AM, mrbankim <notifications@github.com> wrote:

[2016-02-04 10:32] mrbankim commented on #37
I send it to you. Please have a look and let me know.

[2016-02-04 13:25] joelelangovan1985 commented on #37
@arielfaur I don't get any errors in my web console. I am sending you the project folder, so you can have a look, its just your example-audio folder with platform added and apk built. I am sending you the apk file.

[2016-02-04 14:12] arielfaur commented on #37
I think I have found the cause. It seems that both of you are using a newer version of ```cordova-plugin-media``` that doesn't seem to be compatible with the current ```cordova-android``` version.
To fix this do:
[code]

Then build your project as usual. Let me know if this fixes the issue.

[2016-02-04 14:25] joelelangovan1985 commented on #37
@arielfaur You are awesome, Works perfectly .

[2016-02-04 14:26] joelelangovan1985 commented on #37
Thank you so much !

On Thu, Feb 4, 2016 at 7:42 PM, arielfaur <notifications@github.com> wrote:

[2016-02-04 15:06] joelelangovan1985 commented on #37
is it possible to play when app is in background , like native audio player, Showing progress of the song in the status bar, is it possible in cordova ? Would be great to get your advice.

[2016-02-04 15:21] arielfaur commented on #37
It does play in the background if you switch apps. Showing a notification in the status bar is another thing, I haven't looked into this. But it's out of the scope of this plugin at the moment.

[2016-02-04 15:40] mrbankim commented on #37
Hi @arielfaur

Thank you.. It is working.. :)

[2016-02-04 15:40] mrbankim commented on #37
Grt work.. :)

[2016-02-04 15:41] #37 closed

[2016-02-07 21:20] #35 closed

[2016-02-25 13:37] sherifdarwish opened #38 "Changing the track URL"
Hi @arielfaur

Thanks for your efforts in creating this nice module, i was working on it and i had a requirement to change the track url based on some conditions then play sound from the new URL, i was building this with cordova so i am using the cdvfile://localhost/ file system

I was able to achieve this by adding a new listener to track url as below in ionAudioTrackCtrl

let me if this sound co

[2016-02-25 14:58] arielfaur commented on #38
Hi @sherifdarwish That is already available in the latest version of this module.

[2016-02-25 20:35] sherifdarwish commented on #38
This is  great and thanks for adding this, i was not aware of this new version but i will start using it

Regards,
Sherif

[2016-02-25 22:12] #38 closed

[2016-02-29 21:20] est-seb opened #39 "Couldn't run example-audio on iOs emulator without a path modification"
In www/js/controllers.js we can see
`var urlprefix = '/android_asset/www/audio/';`
When I ran "ionic emulate ios" the audio files couldn't be found.
I could make it work using
`var urlprefix = 'audio/';`

I don't see how to make it to make it work in both cases yet.

[2016-02-29 21:48] arielfaur commented on #39
Yes, the local folders in Android and iOS are different. If you are playing local audio you need to set the path accordingly using ```ionic.Platform``` to detect the platform

http://ionicframework.com/docs/api/utility/ionic.Platform/

[2016-03-08 22:29] herve1976 opened #40 "ReferenceError: Can't find variable: nan"
I am trying to test the example app but I am getting the following error:

exeption nativeEvalAndFetch : ReferenceError: Can't find variable: nan

and the music is not playing.

H

[2016-03-09 17:39] arielfaur commented on #40
So weird. First time I ever hear of that error. Anything else on the console?

[2016-03-09 17:41] #39 closed

[2016-03-09 18:09] herve1976 commented on #40
here is the logs that keep repeated:

2016-03-09 12:08:10.796 example-audio[1397:602293] *** WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSInvalidArgumentException> Invalid number value (NaN) in JSON write
2016-03-09 12:08:10.803 example-audio[1397:602293] exeption nativeEvalAndFetch : ReferenceError: Can't find v

[2016-03-09 18:10] arielfaur commented on #40
Is that Android or iOS?

[2016-03-09 18:12] herve1976 commented on #40
iOS

[2016-03-09 18:17] arielfaur commented on #40
I can't help you with this because I am on Android. But maybe you can open Safari Developer console to see the javascript console of your device and see if there are any errors there.

[2016-03-09 19:43] suchac opened #41 "Missing Cordova Media plugin (Ionic v1.7.14)"
Hello, I've done all your installation steps and also succesfully installed Cordova Media plugin, I can see it in `package.json` file and I also get `cordova-plugin-media 2.1.0 "Media"` by running command `ionic plugin list` so I suppose I have this plugin installed.
But no audio player shows on my page and I am getting this error in the console:
[code]

Do you have any idea why is that so? Have I

[2016-03-09 20:46] arielfaur commented on #41
Try this:
[code]

[2016-03-10 01:08] kylesziv opened #42 "MediaManager isn't getting the correct duration"
We are pulling audio from AWS and it appears that it always has the incorrect duration. The current position will go above the total duration. Any ideas what is going on?

[2016-03-10 09:21] suchac commented on #41
Didn't help.
Anyway, I found out that the issue occurs only in develpoment in my web browser (`ionic serve`). When I run it on my phone, everything works ok.

[2016-03-10 16:03] arielfaur commented on #41
That's correct. It is also mentioned in the documentation that cordova plugins won't work in the browser, only in the emulator or a real device.

[2016-03-10 16:03] #41 closed

[2016-03-10 16:04] arielfaur commented on #42
Is your audio in MP3 format? I am also pulling audio from AWS and works fine on my end.

[2016-03-10 16:34] kylesziv commented on #42
This is my enviroment:

Cordova CLI: 6.0.0
Gulp version:  CLI version 3.9.0
Gulp local:   Local version 3.9.1
Ionic Version: 1.2.4-nightly-1917
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
ios-deploy version: Not installed
ios-sim version: 4.1.1
OS: Mac OS X El Capitan
Node Version: v0.10.32
Xcode version: Xcode 7.2 Build version 7C68

And my plugins:

com.phonegap.plugins.facebookconnec

[2016-03-10 16:48] arielfaur commented on #42
I am using cordova-plugin-media 2.2.0 with ionic 1.2.4

[2016-03-10 16:57] suchac commented on #41
Ok, thanks a lot for your help :+1:

[2016-03-10 17:34] kylesziv commented on #42
I updated and still no luck. It looks like this is actually an issue with the media plugin because that is where the duration comes from.

[2016-03-10 18:22] kylesziv commented on #42
No dice.

So the application that we've built records audio and then pushes it to a server. The server converts it to mp3 and then through the app they have the ability to listen to it. We also have a webapp that does the same thing. All data is accessible on web or mobile. The files created by the web do not have this issue (they are originally mp3 files). The files generated by the app is m4v. I

[2016-03-18 02:52] kpennell opened #43 "demo"
Guessing you're aware that the demos don't play?

[2016-03-18 02:52] kpennell commented on #43
sending out an SOS (forgive the bad joke)

[2016-03-18 02:58] arielfaur commented on #43
You mean in the browser or the device?

[2016-03-18 03:18] kpennell commented on #43
your demo page tracks don't play

[2016-03-18 12:25] arielfaur commented on #43
Yes, and they are not supposed to play. The plugin only works in the device or emulator. it's in the documentation :)

[2016-03-18 18:14] kpennell commented on #43
Snap, really?  What is the purpose of that?

[2016-03-18 18:30] arielfaur commented on #43
Cordova plugins will only work once installed on your device or the emulator because they're native components.

[2016-03-18 19:53] kpennell commented on #41
@arielfaur If you're tired of browser questions, you might put it in huge bold writing.  Just a suggestion.

Is there any easy way we can test functionality and whatnot without having to constantly run ionic build ios and wait a while for it to build?

[2016-03-18 22:49] arielfaur commented on #41
@kpennell I might take your advice :)

Unfortunately it seems to be no other way. I put up those demos on the site so that it is easy to define the UI for the media player. If you want to test audio playback you will have to build the project. I am actually planning to rewrite the module so that we can use Web Audio API as a fallback. That would work both in the browser and on the device.

[2016-03-19 19:19] kpennell opened #44 "ionic-audio: missing Cordova Media plugin."
Hey Arielfur,
Really trying to do things right.  Getting the `ionic-audio: missing Cordova Media plugin.`  I've run the `ionic plugin add cordova-plugin-media` and I see cordova-plugin-media right there in my plugins folder.  Any idea why I'm getting that error?

I ran `ionic plugin rm cordova-plugin-media` and `ionic plugin add cordova-plugin-media`.

[2016-03-20 17:55] arielfaur commented on #44
I assume this is happening on your device, right? Any other messages in the javascript console?
It looks as though either Cordova or the plugin hasn't installed correctly.
What Cordova version are you running? You can find out with:
[code]

[2016-03-20 17:55] #43 closed

[2016-03-20 17:56] #42 closed

[2016-03-20 17:57] #40 closed

[2016-03-20 19:37] kpennell commented on #44
MacBook-Pro:sampCoachSide Test$ cordova -v
6.0.0
MacBook-Pro:sampCoachSide Test$ cordova platform list
Installed platforms: android 4.1.1, ios 3.9.2
Available platforms: amazon-fireos, blackberry10, browser, firefoxos, osx, webos

[2016-03-20 19:38] kpennell commented on #44
Is odd, still haven't been able to shake that error. It's not detecting something.

[2016-03-21 17:22] arielfaur commented on #44
Do you see that error on both Android and iOS?

[2016-03-22 18:46] cypherq commented on #2
@arielfaur can I help you with this? You have any concept of "how to implement this"? Just want to create fasade/proxy service which will decide what strategy use for playing audio?

[2016-03-22 18:48] benedyktdryl opened #45 "Explicit Ionic version in package.json"
As we are moving toward Ionic Framework 2.x, my proposition is to add Ionic 1.x as dependency to avoid further confusion.

[2016-04-06 04:30] nienlm-hhtv opened #46 "'onSeek' method ?"
Is it possible to add callback when the user slide the seekbar (e.g onSeekStart, onSeekChange, onSeekEnd,...). I want to retrieve the current track's position. Thks !

[2016-04-06 16:20] bazimov commented on #19
I think cordova media plugin 2.2 newest version has fixed the issue.

[2016-04-12 22:12] arielfaur commented on #46
This isn't yet implemented. I never thought that use case would be necessary. It shouldn't be difficult to implement though but I don't have the time right now since I am working on v2 of the plugin to support Ionic 2. Here's a hint so you can do it yourself:
https://github.com/arielfaur/ionic-audio/blob/master/dist/ion-audio.js#L400

Open the `ion-audio.js` file and simply add a new line to broad

[2016-04-12 22:12] #44 closed

[2016-04-14 15:35] Taewa commented on #41
Just for a little tip for someone who try example-audio in iOS device.

Change from
`var urlprefix = '/android_asset/www/audio/'`
to
`var urlprefix = '/audio/'`

then you will see the audio is working properly on iOS device.

[2016-04-15 03:05] nienlm-hhtv commented on #46
it leaves the error
`ReferenceError: $rootScope is not defined`

And I don't know where to insert the rootScope reference

[2016-04-15 03:57] nienlm-hhtv commented on #46
it thrown the error `rootScope is not defined`

[2016-04-15 08:49] Ardathalion opened #47 "Weird file issue"
Hi,
I got an .mp3 file that I am trying to play in an ionic app. I've tried your very nice plugin with several other files. Everything seemed to work - but not with the file I got. Here's what I've done so far:

- try online/offline
- validate the mp3 file
- converted the .mp3 to .wav and .aiff
- used different settings on .mp3 conversion
- change sample rate
- check file permissions
- check my co

[2016-04-15 14:41] arielfaur commented on #46
You need to inject  $rootScope in your controller

[2016-04-15 14:43] arielfaur commented on #47
I really don't know and I cannot guess what the issue is. It probably has to do with the file format and Cordova Media plugin.

[2016-04-18 09:48] Taewa commented on #40
@herve1976 Maybe you can just change the path?
https://github.com/arielfaur/ionic-audio/issues/39

[2016-04-18 09:52] Taewa commented on #40
@arielfaur I think this error message is shown when iOS device can't find a file. In my case I am using streaming and when the streaming is not working, I get a same error message.
Can I get some event when this message shows up via js?
Once this error occurs then I can't play even any other audio files that are playable.

[2016-04-19 01:56] nienlm-hhtv commented on #46
just use `scope.$root` instead of $rootScope, and it worked well.

[2016-04-19 01:56] #46 closed

[2016-04-19 15:44] arielfaur commented on #40
I will try to find time to look into it!

[2016-04-20 16:33] matheuztavarez opened #48 "Its not working in Android"
I can't Skip a song using the slide, nor the loading symbol disappears... And after the song is played it won't stop anymore. Any solutions?

[2016-04-20 18:50] arielfaur commented on #48
It's hard to know...Are there any errors in the javascript console?

[2016-04-20 18:56] matheuztavarez commented on #48
Cant really test in browser cuz it won't play media.. So just tested on devices.. on iPhone works perfectly but not on android... Just used the main code, so it should work as its working in one platform... :P

[2016-04-20 18:58] arielfaur commented on #48
On Android you can enable remote debugging so you can see the device's console on your Chrome browser on your dev machine.

[2016-04-21 00:48] matheuztavarez commented on #48
oh yea! Shit! Forgot that ! Gonna post the results asap!

[2016-04-21 12:49] matheuztavarez commented on #48
![screenshot 2016-04-21 09 49 15](https://cloud.githubusercontent.com/assets/8632748/14709300/51764210-07a6-11e6-8206-fe586d5eecb6.png)
Thats what appears with the inspector, if i play all songs I can't stop them nor skip in the slider, and the loading symbol don't stop... No errors found...

[2016-04-22 20:21] jnthnschlt commented on #8
download-feature would be aweseome!! :-)

[2016-04-27 11:25] matheuztavarez commented on #48
Did anyone got to work with android?..

[2016-04-28 00:24] arielfaur commented on #48
It's hard to know, I cannot guess what is wrong. My first guess is that you are playing remote files, keep in mind that Cordova Media does not support streaming. If the files are big it will take long until the plugin downloads the whole media before playing.

[2016-04-28 22:16] m4s4kr commented on #48
Hello, I certify that the application for Andorid nefugnuje. I made an application of your tutorial here: http://arielfaur.github.io/ionic-audio and the audio begins to play, pause does not work. The log does not display any errors.

[2016-04-28 22:17] m4s4kr commented on #48
Hello, I acknowledge that the application does not work on Andorid. I made an application of your tutorial here: http://arielfaur.github.io/ionic-audio and the audio begins to play, pause does not work. The log does not display any errors.

[2016-04-28 22:19] arielfaur commented on #48
What ionic version are you on?

[2016-04-28 22:20] matheuztavarez commented on #48
Yea.... Im in the latest version and im playing files from links, it worked seamlessly in the iPhone, like,really perfect, but a lot of bugs with android :(

[2016-04-28 22:20] arielfaur commented on #48
Do you mean the latest ionic 1.3?

[2016-04-28 22:21] matheuztavarez commented on #48
Yea

[2016-04-28 23:00] arielfaur commented on #48
Ok, i found the problem! It is a bug in Cordova Media. Please do the following:
[code]

[2016-04-29 11:20] matheuztavarez commented on #48
Worked as a charm!! Thanks a lot @arielfaur !!! But any ideas how to make the sliding div, with the info of the song and shit always visible? I mean, like a footer? Tried to put inside a ion-footer-bar  but didn't work :/

[2016-04-29 13:38] arielfaur commented on #48
I guess it should work inside a footer

[2016-04-29 14:36] #48 closed

[2016-05-06 16:47] yuyinitos opened #49 "Parse error when building"
After modifying the gulp file with:

`gulp.task('watch', ['clean'], function(done){
  runSequence(
    ['sass', 'html', 'fonts', 'scripts'],
    function(){
      gulpWatch('app/**/*.scss', function(){ gulp.start('sass'); });
      gulpWatch('app/**/*.html', function(){ gulp.start('html'); });
      buildBrowserify({
        watch: true,
        src: ['./app/app.js', './node_modules/ionic-audio/di

[2016-05-06 19:20] arielfaur commented on #49
Are you trying the builtin project? Or is it a new project started from scratch?

[2016-05-06 19:27] yuyinitos commented on #49
I started a new v2 project from scratch using .js files.

[2016-05-06 19:31] arielfaur commented on #49
Could you please copy the ```demo``` folder that ships with the module as is and try to build it? Let's see if the same error is thrown.
On the other hand, you created an ES6 project with Ionic right? (you didn't use the --ts flag)

[2016-05-06 19:41] yuyinitos commented on #49
I didn't use the --ts flag to create my project. I'm not sure if I can use both .js and .ts files in my project?

When I try to build the demo app I run into:

∆ Installing ios for you.
√ Installed platform ios
Installing cordova-plugin-device
Installing cordova-plugin-console
Installing cordova-plugin-whitelist
Installing cordova-plugin-splashscreen
Installing cordova-plugin-statusbar
Installing

[2016-05-06 19:58] arielfaur commented on #49
Basic questions: you did run ```npm install``` prior to building right? Are the hook files available within  ```hooks``` folder?

[2016-05-06 20:16] yuyinitos commented on #49
Sorry, it's getting late over here ;) I ran `npm install`. Then `ionic build` and these erros appear.

TypeScript error: /Users/Eugene/Code/demo/app/pages/page1/page1.ts(10,14): Error TS1219: Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option to remove this warning.
TypeScript error: /Users/Eugene/Code/demo/app/pa

[2016-05-06 20:28] arielfaur commented on #49
OK, i think there are a lot of errors somehow related to the environment. I've never seen these before.
One thing you could try is start a fresh ionic 2 typescript project from start  (using both --v2 and --ts flags). That way we're certain the environment is correct, install ionic-audio with npm, and then either copy the source files from ```demo``` into the new project folder, or create new page

[2016-05-06 20:48] yuyinitos commented on #49
I started a new v2 typescript project and added ionic-audio to it and it works fine! Thanks a lot for your help!

[2016-05-06 20:51] arielfaur commented on #49
Ok, good to hear So it seems then that using the ```--ts``` flag is compulsory

[2016-05-06 20:51] #49 closed

[2016-05-06 20:52] yuyinitos commented on #49
Yes it seems like it.

[2016-05-06 20:53] #47 closed

[2016-05-07 17:39] yuyinitos opened #50 "Safari shows blank page"
Safari shows a blank page when providers are specified as below. The `<ion-app></ion-app>` is empty. If no providers are set `providers: []` then Safari shows the app correctly. (`<ion-app>...</ion-app>` has content) Emulation in iOS has the same issue.
In either case Safari reports the error `ReferenceError: Can't find variable: AudioContext` at ionic-web-track.ts:25:91.
In Chrome all above works

[2016-05-08 18:53] arielfaur commented on #50
@yuyinitos thanks for reporting this bug. I fixed it already. The new module version is 2.0.4 and is already available on npm.
Let me know if it works!

[2016-05-09 09:37] yuyinitos commented on #50
v2.0.4 did the trick. Thanks!

[2016-05-09 14:14] #50 closed

[2016-05-20 14:25] nuruddinbadawi opened #51 "MediaManager not defined"
when load page has media files show this error :

when click play shows this error :

Debug ..

<img width="553" alt="screen shot 2016-05-20 at 17 12 59" src="https://cloud.githubusercontent.com/assets/5736522/15430866/e07e5c84-1eaf-11e6-98ee-a3febada52d1.png">

[2016-05-20 14:31] arielfaur commented on #51
Can you tell me what version of the module you are using? And also your Ionic version.

[2016-05-20 16:14] nuruddinbadawi commented on #51
ionic info :

Cordova CLI: 6.1.1
Gulp version:  CLI version 3.9.1
Gulp local:   Local version 3.9.1
Ionic Version: 1.3.0
Ionic CLI Version: 1.7.14
Ionic App Lib Version: 0.7.0
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: Mac OS X El Capitan
Node Version: v5.5.0
Xcode version: Xcode 7.3.1 Build version 7D1014

bower file :

{
  "name": "rmmapp",
  "private": "true",
  "devDependencies": {

[2016-05-20 16:39] arielfaur commented on #51
This is strange I would need to know more about your project. I haven't seen this one before.
Are there any errors in the device console?

[2016-05-20 17:31] nuruddinbadawi commented on #51
before add ionic-audio I have an error cause stop the application

<img width="937" alt="screen shot 2016-05-16 at 21 00 58" src="https://cloud.githubusercontent.com/assets/5736522/15436021/5fe8393c-1ec8-11e6-92fa-1695f6ac8129.png">

the error very strange and I don't know what the reason until now, and I tried to remove the cordova.js file from index.html, after that it's work without cordova fil

[2016-05-20 17:36] arielfaur commented on #51
That seems to be an error related to the platform which is causing the module to fail, because it needs the ```cordova-plugin-media```.
Try removing the platform and adding it back again.

[2016-05-20 17:52] nuruddinbadawi commented on #51
still appear the error.

[2016-05-20 17:59] arielfaur commented on #51
What version of ```cordova-plugin-media``` do you have?

[2016-05-20 18:01] nuruddinbadawi commented on #51
cordova-plugin-compat 1.0.0 "Compat"
cordova-plugin-console 1.0.3 "Console"
cordova-plugin-crosswalk-webview 1.7.0 "Crosswalk WebView Engine"
cordova-plugin-device 1.1.2 "Device"
cordova-plugin-file 4.2.0 "File"
cordova-plugin-media 1.0.1 "Media"
cordova-plugin-splashscreen 3.2.2 "Splashscreen"
cordova-plugin-statusbar 2.1.3 "StatusBar"
cordova-plugin-whitelist 1.2.2 "Whitelist"
cordova-plugin-x-s

[2016-05-20 18:02] arielfaur commented on #51
Ok, try this now:
[code]

[2016-05-20 18:07] nuruddinbadawi commented on #51
should I keep  cordova.js file in index page ?

[2016-05-20 18:07] arielfaur commented on #51
Yes

[2016-05-20 18:10] nuruddinbadawi commented on #51
same thing.

[2016-05-20 18:10] arielfaur commented on #51
Just to make sure, you are running this on your iOS device right?

[2016-05-20 18:11] nuruddinbadawi commented on #51
in ios Emulator

[2016-05-20 18:13] arielfaur commented on #51
Can you try your device to see if the error shows up ?

[2016-05-20 19:52] nuruddinbadawi commented on #51
Android work will , IOS same Error

<img width="1097" alt="screen shot 2016-05-20 at 22 51 34" src="https://cloud.githubusercontent.com/assets/5736522/15440315/805dc686-1edd-11e6-9bce-b75182b10599.png">

[2016-05-22 21:38] nuruddinbadawi opened #52 "stop audio when use ion-infinite-scroll"
I using ion-infinite-scroll just I push item in the-the base Audio array but when to load more Item the audio stops and reset to zero.

any solution for this case?

[2016-05-22 23:17] arielfaur commented on #52
i don't think I understand what you are trying to do. can you explain in more detail?

[2016-05-23 05:24] nuruddinbadawi commented on #52
OK no problem ..
I have list of sound larg list for that I'm using infinte-scroll, but when start play any sound work will but if I scroll and bring new items in this list, but the sound stop when push new item.

I using Angular 1.5, and this list I make it as component.

[2016-05-23 09:42] Taewa opened #53 "'ion-audio.min.js' is not same as ion-audio.js"
Hello.
First of all, thank you for nice plugin for audio player. It is so useful for my project.

I found out an error when I use `ion-audio.min.js` instead of using `ion-audio.js`

However, if I run `npm install` and `gulp build`, it re-generates `ion-audio.min.js` then `ion-audio.min.js` is working properly.

I found out the difference between original `ion-audio.min.js` and my own re-generated

[2016-05-23 12:16] arielfaur commented on #53
This is really weird. The ```gulp build``` command runs the default javascript minification task, it should without any problems. At least I haven't heard anyone else complain (or it could be that nobody's using the minified version...).
What errors do you see in the console?

[2016-05-23 12:20] arielfaur commented on #52
Where do you push new items into? Are you dynamically changing the ```tracks``` array that contains the URLs for each audio?

[2016-05-23 16:55] nuruddinbadawi commented on #52
yes change the whole array and Tracks is an item in this array.

[2016-05-23 17:27] arielfaur commented on #52
if you change the array containing the tracks the bindings will stop working, so this use case is not supported

[2016-05-23 17:39] nuruddinbadawi commented on #52
there is any way to get current track and put it in other array ? other meaning who catch item when play click it and move it to other place ?

And Sorry For Disturb

[2016-05-29 10:30] llaine commented on #4
+1

[2016-05-29 18:14] llaine opened #54 "Force play"
Hello,
How can I force the change of the currently played  track?

Here is my view :
[code]

And in the controler I want to do something like this :

[code]

Do I need to force something?

[2016-05-30 11:51] arielfaur commented on #54
In theory you could reassign ```$scope.track``` because each ```ion-audio-track``` has a watcher. Whenever any of its properties change the plugin updates itself.

[2016-05-30 12:58] llaine commented on #54
Okay I've tried to do it this way and it's not working like this unfortunatly.
Actually I've done a tiny playlist feature on my project (based on your repo).

But whenever I reassign directly the `$scope.track` it doesn't seems to updates itself. The only way it work is to `$scope.togglePlayback = !$scope.togglePlayback`.

But it cause the song to play twice and don't toggle off the ion-pause clas

[2016-05-30 16:43] arielfaur commented on #54
Have you seen the builtin example project ? It does exactly that.

[2016-05-30 16:57] llaine commented on #54
Yes I tried to use this as possible to do mine.

what is togglePlayback doing exactly?

[2016-05-30 17:25] arielfaur commented on #54
Everything is explained in the documentation, especially under "NEW in version 1.3.0":
http://arielfaur.github.io/ionic-audio/

After you assign the ```track``` you need to set ```togglePlayback``` to true to start playback or false to stop.

[2016-05-30 19:08] llaine commented on #54
I understand all that but dude, togglePlayback set to true doesn't do anything. That's why I opened this thread to try to understand why it doesn't work and maybe I should do something else.

[2016-05-30 21:39] arielfaur commented on #54
OK, I have looked at your code. I am not able to follow all of it but at first glance, I think the problem may be that you have placed two different directives on the same element here:
 https://github.com/llaine/room-guide/blob/master/www/templates/room.html#L15

The ``` ng-click='playTrack($index)'``` should be on a separate element I think. That will trigger the dynamic assignment of  ```$scope

[2016-05-31 06:37] #51 closed

[2016-06-02 16:41] nuruddinbadawi commented on #40
I have the same Issue , I play audio after download in local and pass local Url to track.URL, but appear like this error

[2016-06-02 18:20] llaine commented on #54
Okay I understand, then how I can trigger the playing how the music directly without the ion-play directive but with my ng-click function?

[2016-06-03 13:20] arielfaur commented on #54
Hmmm.. wouldn't that piece of code toggle playback of a specific track each time you click on the button? Isn't that what it's supposed to do? Or maybe I misunderstood what you're trying to do.

[2016-06-03 14:03] llaine commented on #54
What i'm trying to do here, is to manually assign the track using my `playTrack` function.
Because, for instance if I put a $timeout into my controller which will re-assign the `dynamicTrack` after a certain time.
The song will never start. And when I put `togglePlayback =!togglePlayback` it's going to start the song many twice.

[2016-06-03 14:14] arielfaur commented on #54
I think it is indeed a bit hacky. I wanted to implement the playlist functionality but I didn't find the time, and this approach you are trying seems hacky as you said. I would have to download your code and try it myself but I am busy at the moment.

[2016-06-03 14:15] llaine commented on #54
Okay, any workaround on this that could help me ? I really need to implement it (no time unfortunately).

[2016-06-03 16:52] arielfaur commented on #54
Hi! I found some time to fork your project and made a new branch, you can merge it. I made some changes and the dynamic assignment seems to work well now, also the playlist works:
https://github.com/arielfaur/room-guide/tree/fix-dynamic-track

One important thing. There is a bug in the cordova-plugin-media version 2.1.0 you are running therefore the dynamic track was failing.
You need to update it

[2016-06-03 17:25] llaine commented on #54
Okay dude, thank you very much for that !!!

[2016-06-04 21:41] arielfaur commented on #54
So, how did it work?

[2016-06-05 10:44] llaine commented on #54
yes looks like it working !

[2016-06-06 11:41] nuruddinbadawi opened #56 "current time in progress bar start in "-1" not "0""
I have an audio file but there is a decrease in the current time in the progress bar, I print it what the values in track object I see duration: -1 , status : 0 , progress : 0 ,  URL : "cdvfile://..."

[2016-06-06 12:53] arielfaur commented on #56
That is the default value returned by the plugin when duration is unknown. Sometimes the plugin is unable to obtain the track duration. You should hide the value if it's < 0

[2016-06-08 09:28] nuruddinbadawi commented on #56
how i can hide the value  ?

[2016-06-08 13:04] arielfaur commented on #56
Using angular directives such as ```ng-if``` or ```ng-show```, something like
[code]

[2016-06-08 15:19] yuyinitos opened #57 "Hide audio track progress bar duration time"
How can I hide the track duration time initially? Since the current time 0:00 isn't displayed initially, it makes sense to hide the track duration time as well. When play is invoked current time, progress and duration should be displayed.

[2016-06-08 18:22] arielfaur commented on #57
I will look into it. Unfortunately I don't have time now, so you could try modify or override the progress bar directive template to hide duration.
You could use a decorator to override the directive, or simply modify it's template.

[2016-06-09 12:41] yuyinitos commented on #57
Ok thanks for the reply!

[2016-06-11 01:20] #54 closed

[2016-06-11 10:10] nuruddinbadawi commented on #56
thank but ng-if not work you need ng-show 👍

[2016-06-11 10:13] nuruddinbadawi commented on #56
but the main problem is finish audio but progress bar not right like in the image

<img width="443" alt="screen shot 2016-06-11 at 13 10 20" src="https://cloud.githubusercontent.com/assets/5736522/15984500/0febf846-2fd6-11e6-83a6-1d1dc2f32c13.png">

[2016-06-11 14:01] arielfaur commented on #56
That is weird. What type of audio are you playing?

[2016-06-11 14:38] nuruddinbadawi commented on #56
.mp3

[2016-06-16 12:40] Snodvod opened #58 "Is it possible to catch event on completion?"
I want to check when my track has finished playing, couldn't find it in your docs but I guess this should be possible?

[2016-06-16 12:56] arielfaur commented on #58
Are you on Ionic 1 or 2?

[2016-06-16 12:57] Snodvod commented on #58
1

[2016-06-16 13:18] arielfaur commented on #58
It isn't implemented yet, although there is a listener for that. I'll try to do that when I find time hopefully this week!

[2016-06-16 13:24] Snodvod commented on #58
Is there a possibility I can get that listener to fire an event? Because I've been lookin' in your files and found that onCompletion function, I'm writing the app only for Android

[2016-06-16 13:31] arielfaur commented on #58
A quick patch would be to add a ```$rootScope.broadcast``` following this line in order to trigger an event when playback finishes:
https://github.com/arielfaur/ionic-audio/blob/master/src/directives/ion-audio-track.js#L39

Note: that will also trigger if you call ```MediaManager.stop()```

[2016-06-16 13:32] arielfaur commented on #58
You would have to rebuild sources with ```gulp build``` to generate the dist versions (uncompressed and minified inside /dist)

[2016-06-16 15:15] Snodvod commented on #58
Aright, that works, and where is your 'track is loaded and started playing event?

[2016-06-16 22:24] Snodvod commented on #58
update: I found that one and it's inside ion-audio-controls, but I can't get the $rootScope required in the directive...

[2016-06-18 14:38] arielfaur commented on #58
To listen for the track loaded event you could do the same and use ```$rootScope.$broadcast``` after this line:
https://github.com/arielfaur/ionic-audio/blob/master/src/directives/ion-audio-controls.js#L28

I guess it should work!

[2016-06-18 15:17] Snodvod commented on #58
I don't know why but, after requiring `$rootScope` in the directive declaration I can't capture the broadcasted event in my code. The other one works fine...

[2016-06-18 15:29] arielfaur commented on #58
Have you run ```gulp build``` ?
And I guess you are using ```ion-audio-controls``` in your templates, too. Basic questions :smile:

[2016-06-18 15:35] Snodvod commented on #58
Yes, I first tried gulp build but had to do an npm install, after that gulp build ran fine. I am indeed using ion-audio-controls :)

[2016-06-18 15:39] arielfaur commented on #58
Sorry wrong line!
It's after this line that you need to add the ```$rootScope``` statement:
https://github.com/arielfaur/ionic-audio/blob/master/src/directives/ion-audio-controls.js#L33

I don't know if that changes anything.

[2016-06-18 16:06] Snodvod commented on #58
I've tried it over there too... seems like the rootScope doesn't get $broadcasted

[2016-06-18 16:09] arielfaur commented on #58
I ran out of ideas, sorry!

[2016-06-18 16:25] Snodvod commented on #58
That's a pitty haha ;)

[2016-06-22 11:57] nncl commented on #40
+1

[2016-07-04 02:05] jokandre opened #59 "Documentation outdated"
I would like to ask how can I help updating the documentation.

1. gulpfile.js snippets outdated. Will cause gulp to fail because main.d.ts file does not exist.
Workaround: rename main.d.ts to index.d.ts

2. In app.ts highlight:
import {Type, provide} from '@angular/core';
Also '@angular/core' instead of 'angular2/core'

After starting a brand new project these were the problems I had to solve aft

[2016-07-04 03:32] bkitaec commented on #59
+1

[2016-07-06 12:51] OwenMelbz commented on #44
I'm getting the same issue, has there been any movement on resolving this?

[2016-07-06 13:37] OwenMelbz opened #60 "null is not an object (evalulating 'MediaManager.play')"
I've started a fresh Ionic v1 App, and have effectively lifted your demo examples. I'm currently testing it on an iOS iPhone 6 emulator, and an iPhone 5 with iOS 9

(I've bundled up the whole working directory in a zip as that might be useful https://dl.dropboxusercontent.com/u/46252170/nrf1.zip)

p.s. Is there a way to compile your version 2 written in typescript into a standalone js file which c

[2016-07-06 14:57] arielfaur commented on #44
have you tried uninstalling the Media plugin and adding it back again?

[2016-07-06 15:03] OwenMelbz commented on #44
@arielfaur I'd love to say no, and that it worked. However I've tried several times through different methods including ionic cli and the cordova cli, going to try it on a different machine later, but feel like maybe something has updated cordova end that has broken something. Even started looking at the v2 - however the beta ionic cli is erroring all over the shop and the documentation no longer

[2016-07-06 16:43] OwenMelbz commented on #60
Update:

I've been having a poke around, and it seems there might be a race condition issue - Effectively I ran the app several times, 80% of the time it will fail with the error, 20% of the time it works, all I'm doing is running `ionic emulate ios` - so considering that no code is changing - either ionic is doing something weird at the compilation time that is sometimes failing - or there is a r

[2016-07-11 01:59] lync0056 opened #61 "Cordova Media Plugin With Compression"
Hi,

Do you foresee any issue if I were to integrate the Cordova-Media-Plugin-With-Compression extension rather than the original Media plugin into this module?

I have circumstances where audio file size is going to be an issue.

Thank you in advance.

Cameron

https://github.com/remoorejr/cordova-plugin-media-with-compression

[2016-07-11 02:33] arielfaur commented on #61
Hi @lync0056
I don't see any reason why this wouldn't work, especially since it is an extension of the standard plugin. I guess that means the class methods remain the same so it should be fine.

[2016-07-11 02:33] arielfaur commented on #61
By the way, are you on v1 or v2?

[2016-07-11 02:35] lync0056 commented on #61
V1.

Ok, thank you. I will give it a go.

[2016-07-11 02:43] #61 closed

[2016-07-11 02:49] arielfaur commented on #52
Have you solved this issue?

[2016-07-11 06:12] nuruddinbadawi commented on #52
alas,  it's not solved yet.

[2016-07-14 17:59] cinder92 commented on #40
+1

i have same issue, but i'm not using this plugin, i'm using cordova-media and cordova media returns this error, is very weird because in native code from iOS they call a javascript function (Media.onStatus), audio (streaming in my case) is playing ok, but i get same error like you 'can't find variable nan' maybe a type of error in variable types?

[2016-07-14 21:09] cinder92 commented on #40
guys! you should update cordova-media plugin to latest one! they fix my problem!

[2016-07-15 03:17] tjohnson5 opened #62 "Every track I select/play is the same audio file when simulating ios"
Hello! I'm running into a strange issue that I can't quite figure out.

So I'm using Ionic V2 and version 2 of this plugin to play audio off of a podcast JSON feed that I'm pulling in. Looks and works perfectly fine when I do "ionic serve" and test in browser - every track I press play on plays the proper .mp3 file. However, when I run "ionic emulate ios", it all looks perfect, but every track tha

[2016-07-18 14:18] arielfaur commented on #40
Hi @cinder92
Can you confirm that updating the Cordova media plugin fixes this issue? Also, could you please state the media plugin version you are using?
Thanks!

[2016-07-18 14:24] arielfaur commented on #52
I think you will have to somehow change your workflow and avoid changing the array containing audio tracks. I have never tested a use case like the one you're trying to address.

[2016-07-18 14:28] arielfaur commented on #60
Sorry for the delay, I was on vacation :smile:

Have you tried updating Cordova Media plugin to the latest version (2.3.0) ? In many cases this solves some of the issues. Also, does it work on your iOS device? I don't trust the emulator sometimes, especially when working with Cordova plugins.

[2016-07-18 14:43] arielfaur commented on #59
Hi @jokandre
Sorry for the delay! I haven't yet updated the plugin to Ionic 2 Beta 10. I will then resolve any issues.

[2016-07-18 14:45] arielfaur commented on #62
This is weird. I've never experienced that.  Have you tried on an actual device?

[2016-07-18 17:55] ccravens opened #63 "Issue with "Seek To" with multiple progress bars"
We use ng-repeat to display multiple audio progress bars on a single page. The problem is, within the "ionAudioProgressBar" directive, you have a template definition where on-release is assigned to the scoped sliderRelease() function:

[code]

and the sliderRelease() function:

[code]

If we release on ANY of the progress bars in our list, it resets the audio for the track that is currently playin

[2016-07-18 18:11] arielfaur commented on #63
I am not sure I understand your use case. Why do you need multiple progress bars? Each progress bar should be nested within a ```ion-audio-track``` directive, is that your case?
Maybe you can share your view template.

[2016-07-18 18:56] ccravens commented on #63
We have multiple progress bars because we are displaying multiple playable tracks within the same page (a common use case I assume).

Our view template looks as follows:

[code]

It renders a list of multiple tracks we can play on one page. Thanks!

[2016-07-19 13:51] arielfaur commented on #63
Hi @ccravens
Yes, that's perfect, with one minor remark: can you try removing the "by talk._id" from the ```ng-repeat``` and see if that fixes the problem?

[2016-07-20 00:41] tjohnson5 commented on #62
No I have not yet tried on the actual device. Perhaps I can give that a shot and hope its just the simulator being wacky :)

But if you or anyone else have any other tips/ideas in the meantime, they'd be welcome!

Thanks

[2016-07-20 00:42] arielfaur commented on #62
Are you by any chance using the "track by" syntax of ```*ngFor```?

[2016-07-20 00:48] tjohnson5 commented on #62
No I'm doing something like _*ngFor="let podcast of podcasts"_

I am somewhat new to this Ionic and Angular stuff so I'm not dismissing the fact that I may just be doing something the complete wrong way. I pretty much copied your examples and instructions exactly

[2016-07-20 00:50] arielfaur commented on #62
Don't worry. I need to update the bundled sample project to the latest Ionic 2 release. I will see if there are any issues and get back to you then.

[2016-07-20 00:51] tjohnson5 commented on #62
Much appreciated! I'll keep messing with it in the meantime.

[2016-07-20 22:25] arielfaur commented on #59
@jokandre I have updated the plugin to work with ionic2 beta 10 and also fixed the documentation. Thanks for the heads up.

[2016-07-22 08:30] marcusforsberg commented on #58
Any chance of seeing this implemented in the near future? :) I would do a PR but I'm uncertain as to how it's best done for an Ionic plugin (newbie here!).

[2016-07-26 12:21] BrettKoenig opened #64 "Audio not playing"
Hello, I'm getting a few errors in my console and the audio won't play in Ionic View. The errors are:

Error
"ionic-audio: missing Cordova Media plugin. Have you installed the plugin?
Run 'ionic plugin add cordova-plugin-media'"
and
Cannot read property 'stop' of null
    at ion-audio.min.js:320

I've already ran: cordova plugin add cordova-plugin-media

I know it won't work with Ionic Serve in th

[2016-07-26 15:12] arielfaur commented on #64
@BrettKoenig I have just cloned your project and whenever I try to run it I guess an exception. It seems one file is missing in the project tree. Take a look at the screenshot.

![capture](https://cloud.githubusercontent.com/assets/3749268/17143596/32e19ea6-532a-11e6-91c9-00ccffe9a030.JPG)

[2016-07-26 15:16] BrettKoenig commented on #64
Hey. Thanks for the reply! I should have told you, I removed that file for
security. It has some keys in it. Do you have an email I could send it to
you at?

On Tuesday, July 26, 2016, arielfaur <notifications@github.com> wrote:

[2016-07-26 15:19] arielfaur commented on #64
Check out my GitHub profile, it is there :smile:

[2016-07-28 18:00] #64 closed

[2016-07-28 18:00] arielfaur commented on #63
@ccravens any update on this?

[2016-07-28 18:03] arielfaur commented on #62
I have updated the bundled sample project to the work with the latest ionic 2 release. Have you managed to get it working?

[2016-07-28 18:04] #59 closed

[2016-07-28 18:06] arielfaur commented on #60
@OwenMelbz  any updates on this? I recently updated the plugin and fixed a minor issue. Also, I updated my cordova version to latest (including the media plugin) and it is supposed to solve some issues with playback. Let me know.

[2016-07-28 18:09] OwenMelbz commented on #60
@arielfaur Hi sorry,

I do not know exactly - however I've resolved it.

I believe the issue was me using the latest versions of AngularJS and its dependencies - When a conflict came up during `bower install` i picked the latest versions of everything.

When i tried again on another install, I picked the version that `ionic-audio` needed - and this worked.

So I believe the issue was todo with the

[2016-07-28 18:18] arielfaur commented on #60
Great then. Let's hope it was just that :smile:

[2016-07-28 18:18] #60 closed

[2016-07-29 14:35] tjohnson5 commented on #62
Ok thanks. I'll check that out here soon.

But no I haven't gotten it yet. I have tested it on the actual device and the issue still remains. Strange that it works properly in the browser but not iOS simulator or on the device.

[2016-07-29 17:30] tjohnson5 commented on #62
Just pulled down your latest and it runs just fine... I must have set up my project incorrectly somehow. Not sure what I could have done to have that issue... You think any of your updates could have addressed the issue?

[2016-07-29 18:34] arielfaur commented on #62
It could have been related to one of the issues addressed by the latest Angular2/Ionic2 release. But I wouldn't know for sure. I will close this for now. If you see any issues let me know.

[2016-07-29 18:34] #62 closed

[2016-07-29 18:48] filipecrosk opened #66 "track information and progress bar doesn't work, maybe its a scope problem"
HI Guys,

I'm having some trouble to put this project to work. I don't know what's wrong, but I can't get the track information and the ion-audio-progress-bar isn't working.

Take a look at this screen record:
![Screenshot](https://cl.ly/1z0O0v273q2E/Screen%20Recording%202016-07-29%20at%2011.40%20AM.gif)
https://cl.ly/1z0O0v273q2E

As you can see the "**{{audioTrack}}**" is showing correct outside

[2016-08-02 18:44] tjohnson5 opened #67 "Question: How to pause/stop currently playing track when new track is played? (v2)"
Hello!

I've been messing with this for some time and haven't found a proper solution yet (I'm somewhat new to this and figured someone else may benefit from the question).

I'm currently using v2 "playlist" in my app. Currently. I can play several tracks all at the same time. I would like for the current track that is playing to stop/pause when a new track is played. Could someone point me in the

[2016-08-05 05:21] lync0056 commented on #58
@marcusforsberg Not sure why they were having issue previous, but it works for me inside the startTimer function.
![screen shot 2016-08-05 at 2 48 27 pm](https://cloud.githubusercontent.com/assets/15604237/17426949/fbe11f7c-5b1b-11e6-9e34-6d93e9e33d19.png)

[2016-08-05 11:24] marcusforsberg commented on #58
@lync0046 Ah, sorry, I missed that this thread was about the Ionic 1 version. I'm running the Ionic 2 version and it doesn't seem to broadcast any events at all at this point.

[2016-08-11 13:29] arielfaur commented on #67
@tjohnson5 At the moment there is a way to catch the ```onFinish``` event when playback has finished, but currently there isn't a way to determine when a new track is played. However I see now that this is needed for your use case and possibly others' too. I will look into it :smile:

[2016-08-11 15:21] uzumakinaruto123 opened #68 "Feature Request : Repeat audio track feature (ionic v2)"
Is it possible to add repeating audio track feature ? Like if user has enabled it ,then current track will just keep repeating unless and untill user stops it or disables repeat.

or is it already implemented ?

Thanks.

[2016-08-11 16:40] tjohnson5 commented on #67
Thanks that'd be awesome!

As a temporary solution, I just basically took your template behind audio-track-play and the play/pause "toggle" method and dropped it straight into my page and controller.

`<button clear (click)="toggle(i)" [disabled]="audio.error || audio.isLoading">
                  <ion-icon name="pause" *ngIf="audio.isPlaying && !audio.isLoading"></ion-icon>
                  <ion

[2016-08-11 21:31] arielfaur commented on #68
@uzumakinaruto123 it is not yet implemented. I am the sole maintainer of this plugin and unfortunately I don't have a lot of time right now. But I will see if I find time to look into it.

[2016-08-12 06:29] uzumakinaruto123 commented on #68
No worries . I think i will need to do some manual work.  anyways , I just wanted to make a post about it , since its a common audio player feature. take your time. :+1:

[2016-08-13 04:32] mrbankim commented on #66
Hi,
I am also facing same issue. The progress bar is not working for me. Can anyone plz help me out?

[2016-08-13 04:36] mrbankim commented on #66
Hi,

I am also facing the same issue, the progress bar is not working for me. Can anyone plz help me out.

[2016-08-17 17:13] keodeveloper opened #69 "Android - Error on playing audiostream (v1)"
Hi, I get an error when trying to play a radiostream (not real url in code below).. The stream is playing in iOS (but can't stop it... get the #40 issue there)....

ionic-audio 1.3.1
cordova-plugin-media 2.3.0

Here is the Android Studio log:

I/chromium: [INFO:CONSOLE(152)] "ionic-audio: playing track Radiostream", source: file:///android_asset/www/lib/ionic-audio/dist/ion-audio.js (152)
W/Plugin

[2016-08-19 05:03] lync0056 opened #70 "Audio stored in native"
Hello,

I've been using the ionic-audio directive perfectly fine when playing from local storage or an external server. Just recently have attempted to download the audio from a server and store in native storage using $cordovaFileTransfer & $cordovaFile. Then play it.

I point the $scope.track url to the nativeURL which returns as below for ios;

file:///var/mobile/Containers/Data/Application/XXX

[2016-08-19 06:04] lync0056 commented on #70
Hey I found this @arielfaur where you are actually talking about the exact issue.
https://forum.ionicframework.com/t/ios-9-cant-play-audio-video-files-that-are-downloaded-to-device/37580/3

All I needed to do was change result.toURL() to result.toInternalURL() and it works.

[2016-08-19 06:04] #70 closed

[2016-08-20 17:50] ansaril3 opened #71 "ionic-audio, ios, local mp3 file, not playng"
Hi! Thanks for player!
 I found problem, when I trying play local audiofile on IOS devices.
File destination: /www/build/audio/1.mp3 (copy files into /www with gulp task)
In .ts component I write link:  ... 'audio': 'build/audio/1.mp3', ...

When I using some internet link ( ... 'audio': 'https://archive.org/download/JM2013-10-05.flac16/V0/jm2013-10-05-t12-MP3-V0.mp3',  ...), or run in Android dev

[2016-08-23 01:04] pothagoni commented on #41
Getting an error while install ionic-audio package.

 bower install ionic-audio
bower invalid-meta  The "name" is recommended to be lowercase, can contain digits, dots, dashes
bower cached        git://github.com/driftyco/ionic-bower.git#1.3.1
bower validate      1.3.1 against git://github.com/driftyco/ionic-bower.git#1.3.1
bower cached        https://github.com/arielfaur/ionic-audio.git#1.3.1
bow

[2016-08-23 14:00] pothagoni opened #72 "Audio player not showing in the emulate ios"
**Ionic plugin list**

cordova-plugin-compat 1.0.0 "Compat"
cordova-plugin-file 4.2.0 "File"
cordova-plugin-media 2.3.0 "Media"
cordova-plugin-whitelist 1.2.2 "Whitelist"

**Downloaded the ion-audio script file to lib and added to the index file**

<script type="text/javascript" src="lib/ion-audio/ion-audio.js"></script>

**Code snippet in the controller**
app.controller('liveaudioCtrl', function(

[2016-08-30 05:15] edjeezy commented on #4
+1

[2016-08-31 22:39] arielfaur commented on #72
Have you tried running the sample project inside the module?

[2016-08-31 22:41] arielfaur commented on #71
I guess you need to set the proper path for your audio files in your device. These are different for Android and iOS

[2016-08-31 22:43] arielfaur commented on #69
@keodeveloper I think this has been already mentioned somewhere. The Cordova Media plugin does not support all audio formats and until recently did not support streaming either. I don't know the reason why.

[2016-08-31 22:48] arielfaur commented on #66
@filipecrosk Did you get it working? Which audio format are you trying to play?

[2016-08-31 22:57] filipecrosk commented on #66
@arielfaur Unfortunately not yet. I was trying to play a regular mp3 file hosted on S3. I can share the code of my app if you want to test it.

[2016-08-31 23:02] filipecrosk commented on #66
@arielfaur here is the code if you want to test: https://github.com/filipecrosk/ob1church

The template of this track is here:
https://github.com/filipecrosk/ob1church/blob/master/www/templates/sermons-detail.html#L33-L48

[2016-09-09 11:16] kapilkarda opened #74 "Confliction With Corodova File Download"
Hello,

When i trying to download file after that when i tried to play it hangs the device and when i wrap the code into the ionicPlatform then the seekbar is not working, can you please help me in that.

Thanks and Regards,
Kapil Karda

[2016-09-09 15:49] vintots opened #75 "Question: Is there a way to reset all the state of the $scope.playback.tracks values specially (onSuccess,onStatusChange,onProgress,status,duration,progress) for the audio to play again i am using Ionic V1"

[2016-09-09 15:54] vintots commented on #75
I tried to override the values of some of its properties
 $scope.tracks[index].progress = 0;
  $scope.tracks[index].status = 0;
  $scope.tracks[index].duration = -1;

but the ion audio detect that the track is already finished,

[2016-09-14 05:21] vintots commented on #71
@arielfaur  is right , i encountered also this error in IOS, because the path that i have in my local url contains 'file://' on its prefix , I solved it by replacing the 'file://' in the path, and the player works fine

[2016-09-14 14:28] #71 closed

[2016-09-19 14:42] yuyinitos opened #76 "No Directive annotation found on AudioTrackComponent"
I updated to ionic-audio v2.0.9 and I get the error:
**No Directive annotation found on AudioTrackComponent.**

I have included the directives. My component file looks like this:
[code]

And my package.json file:
[code]

And my app.ts file:

[code]

Am I missing something here?

[2016-09-20 23:45] arielfaur commented on #76
What happens when you run the built in demo project? Do you get the same error?

[2016-09-21 18:16] yuyinitos commented on #76
I recreated the project and now it works. Thanks!

[2016-09-21 18:16] #76 closed

[2016-09-21 21:41] arielfaur commented on #76
@yuyinitos  So just to make it clear, was the issue related to the Ionic version upgrade? Some project settings change often with the version upgrade and it is sometimes easier to create a new project than trying to migrate the old one.

[2016-09-23 08:43] yuyinitos commented on #76
Yes that was exactly the problem. Creating a new Ionic project and merging the source did the trick. Thanks.

[2016-09-29 21:42] kwvanderlinde commented on #66
I had this issue too (assuming it's for the same reason). The problem (I believe) is that `ionAudioProgressBar` assigns to `scope.track` if `scope.track` is `undefined`. Unfortunately, if the parent scope has not yet defined this property, this will forever override the parent property. In your case, this means that, unless `$scope.audioTrack` exists by the time `ionAudioProgressBar` is loaded, yo

[2016-10-04 08:22] nuruddinbadawi commented on #56
@arielfaur  I try your example, I see the same problem like you see in image down, the audio is finished But the **time and progress not compleated**  still like this.

you know what's the problem ?

<img width="438" alt="screen shot 2016-10-04 at 11 16 14" src="https://cloud.githubusercontent.com/assets/5736522/19066913/67f4dfb4-8a24-11e6-9591-c70219fd198d.png">

[2016-10-04 18:51] jdell64 opened #77 "Type 'typeof AudioProvider[]' is not assignable to type 'Provider[]'."
How do you include the `AudioProvider` in a new ionic 2 app (or just Angular2 in the `@NgModule`)?

I tried putting it it `providers:[]` but I get this error:

[code]

[2016-10-05 03:55] arielfaur commented on #77
I haven't yet tested the plugin on the latest RC0. Will do that as soon as I find some spare time.

[2016-10-05 12:09] jdell64 commented on #77
Thanks! It seems simple enough, but I don't know the code well enough to
make a pull request.

On Tuesday, October 4, 2016, arielfaur <notifications@github.com> wrote:

--

--
Richard J Tindell

Ps 102:18- "This will be written for the generation to come, That a people
yet to be created may praise the Lord."

[2016-10-07 15:26] behnamazimi opened #78 "Just can't find a working example in Ionic 2.0.0-RC0"
Hi,
I can't set providers and I can't match my project by documentation.
Is it possible to give a working example of ionic-audio in RC0?

[2016-10-07 21:31] jdell64 commented on #78
https://github.com/arielfaur/ionic-audio/issues/77 related?

[2016-10-08 05:33] behnamazimi commented on #77
I have the same problem!

[2016-10-08 05:39] behnamazimi commented on #78
Same as #77 and some other vague points.
A simple example in RC0 would help.

[2016-10-12 17:07] nicolasguzca commented on #48
Adding
`cordova plugin add cordova-plugin-media@2.2.0`
also worked perfectly for me. It will be awesome if you could put it on the documentation :)

[2016-10-20 20:55] mrbankim opened #79 "Is there possibility to play songs one after another continuously?"
Is there possibility to play songs one after another continuously?

[2016-10-25 11:41] anilkumarsoni opened #80 "how to ignore undefined/unsupportable track"
hey arielfaur,
please help me in following..
how to ignore undefined/unsupportable track. also i am not able to pause current audio playing.

this is my code--
<ion-audio-track class="item item-avatar bg-transparent border_white" style="padding:8px;" ng-repeat="track in postData" track="track">
        <img src="img/user-icon.png" class="container" style="float: left;width: 27%;border-radius: 100%

[2016-10-26 07:34] Shamonshamonsha opened #81 "http file is not playing"
Only https audio files are played http files not played

[2016-10-30 16:17] biemond commented on #77
+1

[2016-10-30 16:17] biemond commented on #78
+1

[2016-10-30 19:16] chahalsukhveer commented on #77
+1

[2016-10-31 02:27] pascalgermain commented on #77
+1

[2016-10-31 02:28] pascalgermain commented on #78
+1

[2016-11-01 04:08] SaadeMotion commented on #77
+1

Doesn't work on Ionic 2.1.4. Ionic changed all the structure, since providers:[], ionicBootstrap (doesn't exists anymore), we cannot put "directives: []" into @Component decorator, many many more.

Can u update? Thanks mate!

[2016-11-01 19:29] phishy commented on #2
@Narayon  Because on iOS the HTML5 Audio element doesn't work in the background without the cordova media plugin.

@arielfaur The description of this repo is misleading. It says it uses HTML audio as fallback. I can't see any mention it, unless I'm missing it?

[2016-11-03 08:39] AbuHani commented on #77
+1

[2016-11-03 17:24] nicolasguzca commented on #81
Hummm yes they are playing. I serve all my files via http and they play perfectly. Maybe it is an issue with your server?

[2016-11-06 04:27] ronisaha commented on #56
Any update on this issue, I'm facing same problem

[2016-11-09 23:09] arielfaur commented on #79
no, not yet. i know this should be a core feature but i don't have time now. also, i am not able to maintain v1 anymore. i will focus on v2 mostly!

[2016-11-09 23:14] arielfaur commented on #78
Hello everyone! I have updated ionic-audio to RC2. I have to say it was quite challenging with the new ```@NgModule```. While it makes development simpler, there is a complexity behind it and documentation is not updated especially for module developers.
Anyways, there is a working version ````2.1.2``` already available on npm including a demo project showing how to configure an app with ```@NgMod

[2016-11-09 23:15] arielfaur commented on #77
Solved with #78

[2016-11-09 23:15] #77 closed

[2016-11-09 23:18] arielfaur commented on #75
Those variables should reset once playback is finished. What are you trying to achieve?

[2016-11-09 23:21] arielfaur commented on #56
Yes, i have seen that before. I believe it is related to the rounding applied while converting position to mm:ss values. You could play around with the angular filter used to convert values and see if you can fix that. I really don't have time to focus on v1 anymore.

[2016-11-09 23:23] arielfaur commented on #2
@phishy The HTML audio fallback is for v2! Sorry if the description is misleading. The v2 is on a separate branch though.

[2016-11-10 12:01] marteb commented on #78
I just tried the demo project and it works without problems in the browser, but when i try to build it for a device, i get the following errors:

`[12:53:45]  Error: Error at
            /Users/username/IonicProjects/ionic-audio/demo/.tmp/app/ionic-audio/ionic-audio-track-play-component.ngfactory.ts:216:29
[12:53:45]  Supplied parameters do not match any signature of call target.
[12:53:45]  Error

[2016-11-10 16:34] arielfaur commented on #78
@marteb Just fixed all DI issues and lint warnings. Latest version is ```2.1.4```.  Could you give it a try and let me know?

[2016-11-11 09:28] marteb commented on #78
Seems to work! Thank you :)

[2016-11-11 10:15] marteb commented on #78
It works for me on iOS and in the Browser, but not on Android. On Android i get this error:

`Using Cordova Media provider
main.js:12Loading track assets/audio/filename.mp3
main.js:12Audio error => track assets/audio/filename.mp3
Object
code: 1
__proto__: Object__defineGetter__: __defineGetter__()__defineSetter__: __defineSetter__()__lookupGetter__: __lookupGetter__()__lookupSetter__: __lookupSett

[2016-11-11 13:56] arielfaur commented on #78
hmmm...interesting, it works on my Nexus device running Android 6. What version are you running?

[2016-11-11 15:13] marteb commented on #78
This is on a Nexus 5X with Android N (7).

[2016-11-11 18:45] biemond commented on #78
Somehow I had to copy your demo ionic-audio scripts from your module to my own app folder

When I load it from the dist it cannot find
import { IonicModule } from 'ionic-angular';
in
https://github.com/arielfaur/ionic-audio/blob/2.0/dist/ionic-audio/ionic-audio.module.ts#L4

[2016-11-11 18:50] arielfaur commented on #78
@biemond I experienced exactly the same while developing the module. At the moment it is poorly documented and I cannot find any resources that explain how to properly import an external  .module.ts file from another NPM module. I guess in the meantime we'll have to copy the scripts into the app folder.

[2016-11-11 18:54] biemond commented on #78
Ok good to know this. There are so many change from ionic 2 beta to rc,it is almost a new version. probably they should use a different version number

thanks for the hard work 👍

[2016-11-11 19:27] marteb commented on #78
Yes, i also copied them because i didn’t find another solution…

[2016-11-11 22:58] biemond commented on #78
so it is working perfectly on android but with ios it is not loading, i have to go away from app and come back, then it will initialize.
on ios I am using xcode 8.1 and ios 10.1, on my ipad.
how i can force using WebAudioProvider(It works in ios also), in factory for ios only, because for android cordova-media-plugin works perfectly.

thanks

[2016-11-11 23:34] arielfaur commented on #78
@marteb says it works on iOS and not on Android, and @biemond says it works perfectly on Android but not on iOS. What am I supposed to do? 😆

[2016-11-11 23:36] arielfaur commented on #78
@biemond You can force using a specific provider changing your app.module.ts file file on the following line: https://github.com/arielfaur/ionic-audio/blob/2.0/demo/src/app/app.module.ts#L31
Replace it with
[code]

Don't forget to add the WebAudioProvider import at the top.

[2016-11-11 23:40] biemond commented on #78
Awesome,

Can I check for the platform in the provider, default behavior ( media plugin)  is working fine for android .

[2016-11-12 00:01] arielfaur commented on #78
@biemond The example I have earlier is not complete. However, if you want to check for the platform at runtime you will need to use a factory function to create a provider instance according to some runtime variables. Take a look at the ```audioProviderfactory``` included with the module here:
https://github.com/arielfaur/ionic-audio/blob/2.0/demo/src/app/ionic-audio/ionic-audio-providers.ts#L15

[2016-11-13 14:03] biemond commented on #78
Nice

I got it working ( WebAudioProvider on ipad ) with "ionic platform add ios@4.2.1"
with the latest 4.3.0 even platform and all cordova plugin were hanging somehow.

[2016-11-13 18:23] arielfaur commented on #78
@marteb Are still seeing issues on Android?
@biemond  Are you on Android N too? Or still on Android 6?

[2016-11-13 19:09] biemond commented on #78
It is working fine on my  nexus 5x (Android N or 7)  also on android 6 HTC one m8

[2016-11-21 13:50] marteb commented on #78
@arielfaur no, i tried it today with your latest commit (00ed001) and now it works also with local files. Maybe i just got something wrong the last time… nice work!

[2016-11-21 13:52] #78 closed

[2016-11-21 16:10] marteb opened #83 "Ionic 2 version: Audio pauses when device goes to standby / app is in background"
On Android the audio track keeps playing even if the device is going to standby or the Ionic App is in background. This behaviour is expected and as far as i remember, it was the same for the Ionic 1 version on Android and iOS as well.

The Ionic 2 version keeps playing on Android but on iOS it will pause the track and start it again, when the device is turned on and unlocked again or the app is i

[2016-11-22 12:26] sjosen opened #84 "How to use native audio"
Hello

First of all, thanks for providing this plugin.

No matter what I do it loads the WebAudioProvider from the factory. I have installed cordova-plugin-media. I have tried with both ionic view app and building with xcode.

Any ideas?

[2016-12-14 22:34] arielfaur commented on #84
@sjosen Have you built the demo project included? Is it not working with native audio either?

[2016-12-14 22:36] arielfaur commented on #83
@marteb Interesting... i would have to test on iOS. I develop on Windows but I can run a VM with OS X to deploy on iOS. I will try to find time to fix this.
What I remember is that I needed to enabled background audio on xcode for it to work. Have you done that?

[2016-12-15 06:37] marteb commented on #83
That’s a good hint i could have found by myself :) Will try this later and give you feedback…

[2016-12-15 10:27] marteb commented on #83
Unfortunately enabling the setting „Background Modes: Audio“ in Xcode doesn’t fix this.

[2016-12-23 20:24] solilius commented on #40
had that problem and apparently you cant have any while spaces in your audio path
but i opened the project after a week and the problem is back..

[2016-12-29 11:56] nadimnakade opened #85 "Not working"
Its not working for me only the spinner is visible

[2016-12-29 11:58] nadimnakade commented on #81
Me also facing the same issue while development where i copied exact code from example over here but it itsn't working. Any help will be very helpful @nicolasguzca in my case audio dont show up only spinner is showing

[2017-01-04 17:23] jealvin opened #86 "How to make next or back button for playing the playlist?"
i have test and it's work like a charm
but im confuse about what the tittle just saying :)

[2017-01-08 15:38] devshisiyani opened #87 "Android Cordova - Exit the app, error message "Unfortunately, example-audio has stopped""
Android version: 6.0.1
Cordova version:6.0.0
Device Samsung s6
Built using IONIC 2

Installed the app example app (Ionic Audio for Angular/ionic 2) on the Samsung device and run up the app. This works fine when you play music and pause/stop the music.

Sometimes when you hit  backbutton ( to exit app) you get the error "Unfortunately, example-audio has stopped"

This occurs when you play the music

[2017-01-12 20:14] devshisiyani commented on #86
I am also interested in how you can auto play everything in the playlist.
For now I just was the app to play audio file one after the other indicating which audio file is playing.
Any code snippets would be useful to help me get started

[2017-01-12 21:35] devshisiyani opened #88 "Playlist - Play audio files one after the other automatically"
Is there a way to play tracks in a playlist one by one until you get to the end of your play list.
Also is there a way to highlight the track or show play icon next to the track while the track is been played in your playlist.
I have used your ionic 2 audio example which work great. I would like to extend your audio example further.
Some code snippets would be useful to help me get started. Happy

[2017-01-18 12:20] sjosen commented on #84
I get native audio with Android and html audio in iOS. Html audio is working fine though, so perhaps it doesn't matter. I was just wondering :)

[2017-01-26 05:18] schester44 commented on #85
this might be the worst `issue` i've ever seen created haha

[2017-01-27 18:32] pascalgermain opened #89 "Not ready for Ionic 2 final?"
Hi, I built an app with Ionic 2 (RC3) and the great ionic-audio, and Ionic 2 final just released :)

It seems that ionic-audio is not compatible with this final version (I remember I had the same problem when trying to Ionic 2 RC4). Would be wonderful if it could fit the final version :) (and the docs could reflect it too).

Here's what I get :

Error in ./AudioPlayerComponent class AudioPlayerCom

[2017-01-30 10:21] arielfaur commented on #89
You are right. I haven't had the time to upgrade yet 😞

[2017-01-30 10:23] arielfaur commented on #86
I haven't implemented the playlist feature yet. I need to update the module to work with the latest Ionic 2 before I can work on any new features.

[2017-02-01 16:36] sjosen commented on #83
@marteb Do you know if it uses native or html5 audio in your case? I have same issue and was thinking about the possibility that it could be related to html5 audio

[2017-02-04 13:21] sjosen commented on #83
@marteb I installed this plugin and background audio now works for me in iOS too https://github.com/EddyVerbruggen/cordova-plugin-backgroundaudio

[2017-02-04 18:36] CesarOliveira opened #90 "iOS "plays" but no audio comes out"
In my iOS the application plays, but I don't hear any audio.

Works fine in the browser, but when I build on iOS and run from XCode, no audio come out.

In XCode shows the audio is playing:
![screen shot 2017-02-04 at 4 32 04 pm](https://cloud.githubusercontent.com/assets/6030005/22620656/8d039046-eaf7-11e6-80bf-40a8dfb34f45.png)

In iOS the time "runs" normaly, but no audio comes out
![img_2726](

[2017-02-11 20:15] arielfaur commented on #90
Have you been able to solve this? I just pushed an updated version that works with Ionic 2. I don't think this will fix your iOS issue, but you might want to give it a try

Updated documentation:
http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 20:17] arielfaur commented on #89
It's done. Upgraded to Ionic 2 final. There are a few changes related to the setup, please check the updated docs:
http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 20:18] arielfaur commented on #87
Can you give it a try. I refactored the module to work with Ionic 2 final.

Updated docs : http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 20:19] arielfaur commented on #85
Very descriptive 😄

Anyways, just upgraded to Ionic 2 final.

http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 20:20] arielfaur commented on #84
I haven't had the chance to test on iOS. Still having trouble?

Just upgraded the module to Ionic 2 final.  See http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 20:22] arielfaur commented on #83
I have just upgraded the module to Ionic 2 final. There are some minor changes in the way the module is set up in the ```app.module.ts```. I tested on Android so far.
Updated docs:
http://arielfaur.github.io/ionic-audio/2.0/index.html

[2017-02-11 21:05] CesarOliveira commented on #90
Not yet, I'm runing some tests

[2017-02-12 15:17] pascalgermain commented on #89
Amazing!!! Thanks a lot man, cheers!

[2017-02-12 15:35] #89 closed

[2017-02-13 09:17] slav40o opened #91 "Version 2.3.0: Module build failed error"
I was following the updated guide for the module but I got this error. And the problem is that Angular seeks JS but there is a TS file. It is stupid but i cannot figure how to fix it.
![error](https://cloud.githubusercontent.com/assets/6734791/22877362/d1433684-f1dd-11e6-83b1-77913fc26a04.png)

[2017-02-13 09:30] #91 closed

[2017-02-13 09:32] slav40o commented on #91
It was not problem with your module. I was able to run it and it works fantastic for now. Great work and if I find some bugs I will tell you!

[2017-02-13 18:47] Marian0 opened #92 "About using ionic-audio with local files"
Hello !

I'm trying to use this plugin in a ionic2 project with local mp3 files. These files are located at /assets/sounds/example.mp3.

When using HTML, the plugin works perfect but when I compile it into an Android device I got an error like that on chrome devices inspector:

[code]

Do you know what I'm doing wrong?

Thanks

[2017-02-14 04:44] asmaratantra opened #93 "Runtime Error Module build failed: Error: ENOENT: no such file or directory, open .....index.js"
Stack
@http://localhost:8100/build/main.js:56593:7
__webpack_require__@http://localhost:8100/build/main.js:20:12
@http://localhost:8100/build/main.js:56602:75
__webpack_require__@http://localhost:8100/build/main.js:20:12
@http://localhost:8100/build/main.js:56676:89
__webpack_require__@http://localhost:8100/build/main.js:20:12
@http://localhost:8100/build/main.js:100714:89
__webpack_require__@http

[2017-02-14 05:11] #93 closed

[2017-02-14 12:41] borodiliz opened #94 "AoT compiler errors"
**Ionic-audio version:**
[ X] 2.3.0

**I'm submitting a ...**
[ X] bug report (probably but not sure if there is any workarround to solve this)

**Current behavior:**

When trying to compile using AoT I get the following error:

[code]

**Expected behavior:**

An application compiled with AoT

**Steps to reproduce:**

Just execute: `ionic build android --prod --release`

This is not  happening whe

[2017-02-14 13:06] borodiliz commented on #92
Hi @Marian0 ,

I'm playing mp3 on both IOS and Android without problems with this plugin (version 2.3.0) . In my case I'm downloading files and storing it on the device. Before playing I use cordova-file to get the fileUrl, something similar to:
[code]

After getting the fileUrl with cordova-file, pass it to ionic-audio module as the src of your mp3

[2017-02-14 13:55] Marian0 commented on #92
Hi @borodiliz ,

Thank you! I've solved by one more hardcoded approach 😆  and now it's working either with webview and on Android.

[code]

[2017-02-14 13:55] #92 closed

[2017-02-15 13:25] arielfaur commented on #94
Hi @borodiliz, thanks for reporting this bug. I forgot to test for AoT, my bad. I will look into it.
Thanks!

[2017-02-17 11:48] CesarOliveira commented on #90
Still not working, I get the new version,  but  the no audio comes out in my iPhone, any ideas?

[2017-02-17 12:18] arielfaur commented on #90
It is weird because it seems the audio files are being loaded and the progress bar displayed.

[2017-02-17 12:19] CesarOliveira commented on #90
Yep, I don't understand neither

[2017-02-17 12:21] arielfaur commented on #90
Can you check the javascript console with remote debugging? See if there is an error there. Also, check whether it using the web provider or Cordova Media.

[2017-02-17 12:22] borodiliz commented on #90
Not tested on iPhone yet, but audio works for me on iPad 2 with IOS v9.3.5

[2017-02-17 12:24] CesarOliveira commented on #90
No error in the log, take a look:

2017-02-17 10:04:35.953853 mobile-app2[378:38754] DiskCookieStorage changing policy from 2 to 0, cookie file: file:///private/var/mobile/Containers/Data/Application/3D51650A-CF12-44FF-92EB-CBF9B88A8E34/Library/Cookies/Cookies.binarycookies
2017-02-17 10:04:36.062178 mobile-app2[378:38754] Apache Cordova native platform version 4.1.1 is starting.
2017-02-17 10:04:

[2017-02-17 12:25] arielfaur commented on #90
So where is it not working? Before you said it is not working on iPhone. And you just said you have not tested on iPhone yet. What is it then? 😄

[2017-02-17 12:28] CesarOliveira commented on #90
I tested on iPhone, but no audio comes out. Above is the log of my Xcode when I run on my Iphone.

When I press "Play", in the console show this: 2017-02-17 10:04:45.796903 mobile-app2[378:38754] Loaded track http://s3.amazonaws.com/poadcastapp/poadcasts/alcanceconquiste/media_1.mp3

The progress bar start moving, but no audio comes out.

[2017-02-17 12:30] arielfaur commented on #90
I will try to test on iOS 10 and get back to you

[2017-02-17 12:30] CesarOliveira commented on #90
I get another iPhone to test here, seems like a problem in mine

[2017-02-17 12:42] CesarOliveira commented on #90
I will investigate it in tell you what  happened.

[2017-02-17 13:44] #90 closed

[2017-02-17 14:03] CesarOliveira commented on #83
@marteb and @arielfaur the suggestion from @sjosen worked for me as well.

I installed this plugin and background audio now works for me in iOS too https://github.com/EddyVerbruggen/cordova-plugin-backgroundaudio

[2017-02-19 18:29] pauval08 opened #95 "No streaming audio - buffering in iOS"
I don't know if this is a cordova-plugin-media issue, but on iOS the AVPlayer does not play the file right away.  It takes about 7-10 seconds to download the entire file then it starts playing.  Is it supposed to force the stream in the progressive download from an HTTPS source (amazon s3)?

[2017-02-19 21:11] sfaizanh opened #96 "Rollup Script failed to locate ionic-audio"
Hi @arielfaur I was stuck in running/build application due to this error
[code]

**Found Solution**
Edited module config file `node_modules/ionic-audio/package.json` changed these lines
[code]
`import { AudioProvider } from 'ionic-audio'`  in app.modules.ts

Haven't tested on real device yet!

**Ionic Info**
Ionic : 2.0.1
@ionic/app-scripts : 1.1.3

**Request**
Second thing can you include tsconfi

[2017-02-20 00:30] sfaizanh commented on #96
Hi @arielfaur i have added a pull request(#97) for typescript config.
There is no need of `"files": ["node_modules/ionic-audio/dist/index.ts" ] in tsconfig.json file

There is an issue with **prepublish** or **build** so i was unable to test it properly, when i install npm from github repository.
if **prepublish** does not work with the **npm install ionic-audio** then replace prepublish in **pack

[2017-02-21 11:13] patwaswapnil commented on #94
any update? I am getting it too.

[2017-02-21 18:31] arielfaur commented on #94
Can you check the patch with version ```2.3.1``` I have just uploaded? I tried building locally with the ```--prod``` flag and it seems to work. I needed to make a small refactor of the module config for it to work.
This is the setup now from your ```app.module.ts```:
[code]

[2017-02-22 21:46] sfaizanh opened #98 "When Stopping audio http requests is not canceled"
Is there any way to cancel the http request also?

[2017-02-23 07:05] patwaswapnil commented on #94
Worked 👍 ,  but without passing any object to ` IonicAudioModule.forRoot()`. Thanks for the amazing plugin.

[2017-02-23 11:12] CesarOliveira commented on #95
The same happens to me, with my slow Internet takes about 40 seconds to audio starts

[2017-02-23 13:10] arielfaur commented on #98
I don't think so as this is handled by HTML audio or the Media plugin itself

[2017-02-23 13:11] arielfaur commented on #94
@patwaswapnil It should also work if you pass a provider object like this:
[code]
Have you tried that too?

[2017-02-23 13:14] arielfaur commented on #95
Does progressive download work if you set the plugin to use HTML audio?

[2017-02-23 13:18] CesarOliveira commented on #95
How can I do that?

[2017-02-23 13:19] arielfaur commented on #95
If you run the project with ```ionic serve``` it uses HTML audio by default

[2017-02-23 13:21] patwaswapnil commented on #94
@arielfaur , Yes i have tried that but while doing this a run time error occurs during init `(.create is not a function)`,  i don't have that exact error.

[2017-02-23 13:22] CesarOliveira commented on #95
I see, yes with HTML audio plays right away.

[2017-02-23 13:22] arielfaur commented on #94
OK, I will look into that later. Thanks!

[2017-02-23 13:23] arielfaur commented on #95
I guess the issue is then related to the Media plugin

[2017-02-23 13:32] CesarOliveira commented on #95
I found this PR https://github.com/apache/cordova-plugin-media/pull/62 from a year ago that solves the streaming in cordova-plugin-media 🤔

[2017-02-23 14:39] pauval08 commented on #95
Yeah I have that streaming code in my plugin src, it looks like it was merged over a year ago.  It is still not streaming though. I tried dumping the plugins and reinstalling everything but the issue persists.

[2017-02-24 12:08] CesarOliveira commented on #95
I did the streaming of a audio, the trick is use mu3 file instead your mp3 file.

So I get my mp3 file e create a mu3 file like this:

[code]

The 924 number after #EXTINF: represents the time of the audio (my_audio_file.mp3) in seconds.

More about M3U: [Click Here](https://www.lifewire.com/m3u-file-2621955)

And save the above file as file.m3u

Then I upload the m3u file and change in the contro

[2017-02-24 13:24] blueror815 commented on #25
Hi Arielfaur.
I used ionic audio to play audio
But progress bar is not working.
My code is like below
`<ion-audio-track track="track" ng-show="podcast.url != undefined">
                    <div class="card audio-card">
                        <div class="item" style=" padding-right: 0px !important; padding-left:10px !important">
                            <ion-audio-controls>

[2017-02-24 18:37] pauval08 commented on #95
Thanks Cesar! Life saver info! I was struggling with this for a while and was about to just force html5 audio. :)

[2017-02-27 12:21] borodiliz commented on #94
Hi all,

After upgrading to 2.3.1:

* **Without** AoT: Same behavior that  2.3.0: no problem when building with command `ionic build android --dev`
* **With** AoT : No compiler errors while building with `ionic build android --prod --release`  but my application does not starts. I'm getting the following error on adb console

[code]

Any ideas? Thanks in advance!

[2017-02-27 12:37] patwaswapnil commented on #94
Get hint from here- https://github.com/driftyco/ionic-app-scripts/issues/632

Workaround for your issue-

make directory (eg. external) inside `src` directory. Copy `ionic-audio` directory from `npm_module` and paste inside created directory(external).

Edit `tsconfig.json`

 `"include": [
    "src/**/*.ts",
    "external/**/*.ts"
  ],`

[2017-02-27 16:29] borodiliz commented on #94
Thanks @patwaswapnil but unfortunately your workaround is not working for me. @arielfaur maybe the right solution for this could be #97 ?

[2017-02-27 20:15] arielfaur commented on #94
Hey! I am sorry for this but there is a total lack of documentation regarding component development.
This lack of documentation and support is so discouraging sometimes. I don't have time now to keep trying different approaches but I will do as soon as I find some time.

[2017-03-04 18:56] brayands opened #100 "Help"
How can I implement this audio project in an existing project?

[2017-03-05 05:26] sfaizanh commented on #100
@brayands see [http://arielfaur.github.io/ionic-audio/2.0/index.html](http://arielfaur.github.io/ionic-audio/2.0/index.html)

[2017-03-05 05:26] #96 closed

[2017-03-05 05:27] sfaizanh commented on #94
@borodiliz @arielfaur fixed it, Please confirm

[2017-03-05 20:21] brayands commented on #100
I have already seen it but my project is ionic v1.x

[2017-03-05 21:17] sfaizanh commented on #100
@brayands see [http://arielfaur.github.io/ionic-audio/index.html](http://arielfaur.github.io/ionic-audio/index.html) for Ionic v1

[2017-03-09 12:18] Geroo commented on #94
I am having a related issue with the latest ionic version:

    "@angular/common": "2.4.8",
    "@angular/compiler": "2.4.8",
    "@angular/compiler-cli": "2.4.8",
    "@angular/core": "2.4.8",
    "@angular/forms": "2.4.8",
    "@angular/http": "2.4.8",
    "@angular/platform-browser": "2.4.8",
    "@angular/platform-browser-dynamic": "2.4.8",
    "@angular/platform-server": "2.4.8",
    "@ionic/

[2017-03-09 18:52] rodolfobubb commented on #95
@pauval08 , how did you this? post your code please

[2017-03-09 20:09] rodolfobubb commented on #29
didn't work for me

[2017-03-14 23:29] sfaizanh commented on #94
@Geroo for temporary replace with `"ionic-audio": "2.3.4"` with "ionic-audio": `"git://github.com/sfaizanh/ionic-audio.git#2.0" ` until @arielfaur merge #102 or fixes it

[2017-03-14 23:32] sfaizanh commented on #94
@Geroo this for **ionic 2.2.0** otherwise for **ionic 2.1.0** `"ionic-audio": "2.3.4"` is working fine

[2017-03-19 16:44] davidkirolos opened #103 "Prod compiler error"
Ionic-audio version:
[ X] 2.3.4

I'm submitting a ...
[ X] bug report (probably but not sure if there is any workaround to solve this)

Current behavior:

When trying to compile using "ionic build --prod" I get the following error:

`
[12:33:56]  ionic-app-scripts 1.1.4
[12:33:56]  build prod started ...
[12:33:56]  clean started ...
[12:33:56]  clean finished in less than 1 ms
[12:33:56]  copy st

[2017-03-20 20:05] joelelangovan1985 opened #104 "Unable to play m3u files"
I am trying to embed a shoutcast stream , I am not able to load it with the player, is it possible ?

[2017-03-22 13:24] borodiliz commented on #103
@davidkirolos please see #94 . Brief explanation: ionic-audio@2.3.4 requires ionic@2.1.0 while building with `--prod`

@sfaizanh @arielfaur : Setting `ionic-audio` to a fixed `ionic` version could be a nightmare. My thoughts
* Is there a way to make this project version-independant? (Something like >= 2.0 and <=2.2.1 )
* Maybe the demo application should be placed on a separated repository to avoi

[2017-03-22 20:47] arielfaur commented on #104
I haven't tried m3u files yet. Is this Ionic 2?

[2017-03-22 21:16] davidkirolos commented on #103
@borodiliz I solved this issue by not using the npm package, I copied the source code from GitHub to the application directly. And now it's compiling with --prod --aot .

[2017-03-23 19:01] joelelangovan1985 commented on #104
Yes, Its ionic 2 , Do you have any idea to create a radio player for my shoutcast ?

[2017-03-24 01:30] sfaizanh commented on #103
@borodiliz i'll look into it. Ionic released ionic 2.3.0 with ionic native 3

@davidkirolos can reproduce the step you took and paste over here
Thanks

[2017-03-28 18:42] mharini opened #105 "Audio error while loading"
Hi,

I am using cordova-plugin-media version 2.4.1 (3+ version is not completely supporting ios with AVAudiorecorder and they are working on it)
While playing audio recorded with latest media-plugin version, it was working fine. But that is not the same case with above mentioned version.

It is throwing error: Audio error => track file:///storage/emulated/0/Documents/recording.aac
Event=>
bubbles:

[2017-03-29 06:19] mharini commented on #105
Sorry. The audio file got corrupted when that version error occurred. Recording was also overwriting the same file. It worked when I deleted it and build it again.

[2017-03-29 06:19] #105 closed

[2017-03-29 07:57] codinronan commented on #104
Yes this is possible. I am doing so successfully and required no extra setup to use m3u. What is the error your are getting?

The m3u file format is incredibly unforgiving. If you have even an extra space where there shouldn't be it will fail.

[2017-03-29 07:58] codinronan commented on #103
@davidkirolos the very simple solution was to change your package.json entry to point to this repo instead of the npm package.

`"ionic-audio": "git+https://github.com/sfaizanh/ionic-audio.git#2.0",`

[2017-03-29 08:00] codinronan commented on #88
You will need to build your own implementation to do this.

In fact that is what I have done. I took audio-track-component, turned it into a service, and inject it into my playlist. Then I call its methods directly, instead of having the audio-track-play be a mediator. So that means I had to wire up my own button events and "selected track" handling too.

I don't think it makes sense to add any of

[2017-03-29 08:07] sfaizanh commented on #103
Thanks @codinronan for helping @davidkirolos but i'm waiting for @arielfaur for merge so that everyone can install from NPM, but for temporary solution good to go with my fork repo

[2017-03-29 08:14] codinronan commented on #81
For anyone else running into this, this will happen on iOS where http requests are by default required to be https on iOS 9 and above. Just enable http-only requests in your plist.

[2017-03-29 09:21] eljuani commented on #103
I'm having the same problem but changing the package.json entry in my app doesn't solve it :(

[2017-03-29 09:37] sfaizanh commented on #103
Please describe your issue over here #102 so that it can logged in that PR

1. What errors are you getting
2. Can you show us your package.json
3. Share app.modules.ts imports array `imports: [];` // for lambda functions

[2017-03-29 09:39] sfaizanh commented on #103
@eljuani May be you didn't follow these instructions
https://github.com/arielfaur/ionic-audio/pull/102#issuecomment-288905820

[2017-03-29 16:40] nicolasguzca commented on #81
Hello guys, for me it was a CORS issue.
On the actual device they played perfectly, but on the browser using Ionic Serve only the spinner shows, as @nadimnakade states.

I fixed it using the chrome plugin https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?utm_source=chrome-app-launcher-info-dialog

[2017-03-29 18:59] eljuani commented on #103
Hi, I didnt know about the instructions but I just followed them and it's the same, maybe I did something wrong.
ERRORS:
Error: Error encountered resolving symbol values statically. Calling function 'makeParamDecorator', function
            calls are not supported. Consider replacing the function or lambda with a reference to an exported function,
            resolving symbol Injectable in

[2017-03-29 19:20] sfaizanh commented on #103
@eljuani

`import { IonicAudioModule, AudioProvider, WebAudioProvider } from 'ionic-audio';`

Replace your imports in **app.modules.ts**
[code]

Add This at the end of the file **app.modules.ts**
[code]

Try rebuilding app with --prod flag

[2017-03-29 19:37] eljuani commented on #103
Added that. Still the same. But now if I replace the "ionic-audio": in my package.json app for "git+https://github.com/sfaizanh/ionic-audio.git#2.0" and do a nmp install -dd "ionic-audio" --save it fails:
npm verb cli   'ionic-audio',
npm verb cli   '--save' ]
npm info using npm@3.10.10
npm info using node@v6.10.1
npm verb cache add spec ionic-audio@git+https://github.com/sfaizanh/ionic-audio.git#

[2017-03-29 19:57] sfaizanh commented on #103
@eljuani
1. Download https://github.com/sfaizanh/ionic-audio/archive/2.0.zip
2. Extract it rename the folder to ionic-audio and copy folder
3. Go to Project/node_modules
4. Remove ionic-audio folder if exists
5. Paste it.
6. In Terminal `cd ~/Desktop/audioguia/ionic2-tutorial/node_modules/ionic-audio`
7. npm run prepublish

Now try to build again

[2017-03-29 20:02] eljuani commented on #103
@sfaizanh **That did it !** :)

[2017-03-31 00:33] gmapis commented on #69
Hey @keodeveloper
did you ever figure this out? I'm having a similar issue. I'm able to stream m3u in ios, but not android.
I'm using ionic 2 (ionic-native v2.4.1)

[2017-04-04 04:22] jessmarkpanadero opened #106 "Changing Track During Runtime"
Hi I'm just trying to use ionic-audio in our ionic 2 project. I just want to know if it is possible to change track during runtime

For example in this snippet:
 **---  HTML  ---**
[code]

 **---  ANGULAR 2  ---**
[code]

[2017-04-05 00:41] tbergeron commented on #106
Sorry to crash your issue, I think I'm looking for the same answer. I have a play list, and I want to switch song. I can play different tracks, pause, resume, etc. But I cannot get the audio-track-progress-bar to switch track.

Here's one more example:

[code]

[code]

This would be great if there'd be an example of this in the demo.

Thanks everybody!

[2017-04-05 01:12] jessmarkpanadero commented on #106
Yes same issue as mine. I can also play and pause audio using id but something weird happen on the seek function I hope they worked with this issue.

[2017-04-05 15:26] tbergeron commented on #63
With Ionic2 there's no seekTo() function. How do we seek with the new version?

[2017-04-08 05:26] kristernavi opened #107 "Help! Track doesnt load in android device"
Everything working fine in web but when in android emulator even in real device this is happen
![image](https://cloud.githubusercontent.com/assets/12774978/24825979/41444554-1c5e-11e7-890d-3a144eced200.png)

[2017-04-08 22:02] tbergeron opened #108 "Ionic2 & how to access to seekTo() function?"
Hi!

I'd like to create back & skip 30 seconds buttons so I need to access the `seekTo(pos` function.

I think this used to be accessible in the Ionic1 version but I cannot seem to find a way to access it at the current version.

Any suggestions?

Thanks!

---

i.e. of my current function:

[code]

PS: These are the only functions I can access:

<img width="845" alt="screen shot 2017-04-08 at 6 00

[2017-04-09 22:54] ehusaint opened #109 "Avoid Adding the same track to the audioProvider"
I have multiple album within this app. As I navigate within each album, when I call the function to get all track by using the "audioProvider.tracks", i have the same tracks been added to the list. How can I avoid that. Here is the example:

1. Navigate to album A
2. 3 tracks are listed and are added to audioProviders - All tracks is equals to 3 item in array.
3. Go back.
4. Navigate to Album A ag

[2017-04-11 10:40] ozknemoy commented on #107
same story

[2017-04-11 12:33] ozknemoy commented on #107
it is all about restriction. this song works perfect" 'http://mpsound.ru/uploads/tracks/510496811_572314412_1814582943.mp3'

[2017-04-11 17:40] tbergeron commented on #108
Anybody has any idea? I'm trying to use this for an upcoming cross-platform app but I cannot figure out these tiny details for the life of me. Any help would be greatly appreciated 😃  Thanks!

[2017-04-12 15:41] endlessz commented on #107
Me too. Everything working perfectly on web browser, but in android device It's can't play the song.

[2017-04-13 22:11] miniportal commented on #54
Please, I'm having the same problem.

How can I solve that?

My template:

`        <ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback">
          <ion-audio-controls>
            <div id="audio-button-bar3" class="button-bar">
              <button id="audio-button19" ng-click="shuffle()" class="button button-dark button-small button-block button-clear icon ion-shuffle" ng-clas

[2017-04-16 08:01] airasheed opened #110 "Ionic 3: Type Error"
I converted my app to Ionic 3 and ran into this issue in several places in the code with Ionic-audio:

`Typescript Error: Element implicitly has an 'any' type because type 'Window' has no index signature.`

I've attached a screen shot.

![screen shot 2017-04-16 at 3 00 05 am](https://cloud.githubusercontent.com/assets/14035318/25069778/fea5445c-2250-11e7-9e4f-9fb340d3abc8.png)

[2017-04-16 21:23] sfaizanh commented on #110
Can you share your package.json ionic-audio version or you can temporary do this
https://github.com/arielfaur/ionic-audio/issues/103#issuecomment-290206987

[2017-04-16 21:43] ehusaint commented on #109
Anyone please?

[2017-04-17 18:56] arielfaur commented on #103
I just upgraded the module to Ionic 3. It should work by simply removing and adding the module back again `npm install ionic-audio@3.0.0`

[2017-04-17 18:56] arielfaur commented on #110
I just upgraded the module to Ionic 3. It should work by simply removing and adding the module back again `npm install ionic-audio@3.0.0`

[2017-04-17 18:57] arielfaur commented on #107
Can you please try the new version? I just upgraded the module to Ionic 3. It should work by simply removing and adding the module back again `npm install ionic-audio@3.0.0`

[2017-04-17 18:58] #94 closed

[2017-04-17 19:08] arielfaur commented on #108
Hi @tbergeron !
The `seekTo()` method belongs to the track prototype. So first you would need to get the current track from the AudioProvider and then you get access to the seekTo method:
[code]

[2017-04-17 19:11] #100 closed

[2017-04-17 20:32] mharini opened #111 "iOS track freeze issue"
Hi,
I implemented ionic-audio in a ionic2/angular2 app. It worked fine on android but on iOS device, it freezes once I hit the play button and the audio is not playing.

All data(name, total-time, progress-bar) are loaded perfectly fine.I could see Playing track, Pausing track logs too. I also waited for a minute to get loaded. But nothing worked.

Can you provide a solution for this?

[2017-04-17 20:39] mharini commented on #111
And this happens both for local audio files and server audio files with http link.

[2017-04-18 18:08] arielfaur commented on #111
I noticed an issue on iOS. It seems that we need to hit the play button a few times in order to start playback. If I navigate away to another page and then back, then the playback starts. In any case this seems an issue with iOS and HTML Audio. I guess there isn't much I can do.
Have you tried installing the Cordova Media plugin?

[2017-04-19 05:17] mharini commented on #111
Yes. I am using Cordova Media plugin in my application.
Now I am trying to replicate the same functionalities using Media functions. The hard part here is getting time of audio and integrating with custom progress-bar.

[2017-04-19 10:09] mharini commented on #111
Adding this in config.xml worked for me. But, I don't know which line in this did that.
`<allow-navigation href="*"/>
  <allow-navigation href="file://*/*" />
  <allow-intent href="*"/>
  <access origin="*"/>
  <preference name="iosPersistentFileLocation" value="Compatibility" />`

I did not do any changes with ionic-audio code or values.

[2017-04-22 16:28] ehusaint commented on #109
@arielfaur - Thanks for responding. Is there a way currently to clear all the tracks within audioProvider?

[2017-04-22 16:43] arielfaur commented on #109
@ehusaint I think this may be related to the way you are creating the bindings. The module will simply bind to an array of tracks. Maybe you should change the place where the binding takes place. For example use the constructor or any of the Angular or Ionic page cycle events to make sure that happens only once.

[2017-04-22 18:01] ehusaint commented on #109
@arielfaur - I could be wrong here but I feel like the binding is happening on load of a page. I'm using your <audio-track> component. That component loads the audio every time the page is loaded. I'm not loading the tracks manually. Am I missing something?

[2017-04-23 03:39] arielfaur commented on #109
Can you show me the code of your page component?

[2017-04-23 20:25] ehusaint commented on #109
@arielfaur - It's a same code that is in your demo example. So here is the setup i have. There is a home page with album names. Click on album page and it goes to album listing. Once i click play on one of the song within the album, and i navigate back to the home page and come back to the same album page, the id's of all the track on the album page has changed. Because every time I navigate to al

[2017-04-24 02:58] tbergeron commented on #108
@arielfaur this worked wonders! thanks!
whenever you can, would you mind looking at this question too please? https://github.com/arielfaur/ionic-audio/issues/106#issuecomment-291692181 this is also a blocking issue for me thanks a whole lot for the help I greatly appreciate it :D

[2017-04-24 20:09] #108 closed

[2017-04-25 15:03] arielfaur commented on #109
@ehusaint This is weird because the code that creates the binding is in the page constructor so that should execute only once. You could try moving that block to the `ionViewDidLoad` method but I don't know if that will make a change.

[2017-04-26 07:38] kristernavi opened #112 "Help! Removing or resetting the track list"
Im trying to implement refreshing the track list but when i try this

`this._audioProvider.tracks = []`

but it doesnt work. is there anyway to remove all track loaded?

[2017-04-26 14:12] arielfaur commented on #112
Have you tried resetting the binding variable?

[2017-04-26 14:46] kristernavi commented on #112
something like this?

[code]
[code]

this code just duplicate the tracks
For example i have 3 current tracks and i refresh it because recently i just a new 1 track it will output 7 tracks instead of 4 tracks only

[2017-04-27 13:27] andrewlongdotcom opened #113 "'audio-track' is not a known element"
For the life of me, I cannot get the ionic-audio component to work with my ionic project. I have followed the demo included in this repo to a T I believe, but when I just try to add the <audio-track> element to my page I get the above error (see screenshot for full error). I'm also attaching screenshots of my app.module.ts and the ts file for my page where I am trying to use the ionic-audio compon

[2017-04-29 15:54] dhaval85 opened #114 "Ionic audio playlist problem"
Hello,

I am using ionic-audio and I want to make only one song should play at a time. If I click on another song the previous one must be paused. How can I do that?

Moreover, if there are any error while playing any song from the playlist. I am not able to play any other song. And I've to reload the page. I am using the code given in this example.

http://arielfaur.github.io/ionic-audio/2.0/inde

[2017-04-30 19:17] andrewlongdotcom commented on #113
My issues seem to be a result of the page I was trying to use the player on being an Ionic 3 page using PageModule. I tried to get the control to work by adding ionic-audio to my page.module.ts file, but wasn't able to get it to work. I removed the @IonicPage directive from my page and the control does work.

[2017-04-30 23:13] arielfaur commented on #113
@andrewlongdotcom I haven't tried the new lazy loading feature with ionic-audio. Since ionic-audio is its own NgModule I would have thought it should work if you simply import ionic-audio wherever you need it. But it seems it won't work that way. I would have to look into that.

[2017-05-01 00:08] #113 closed

[2017-05-02 17:44] andrewlongdotcom commented on #109
i think i am facing a similar issue in a podcast app i am building. similar to @ehusaint scenario i may do the following:

1. navigate to a podcast page which contains the audio-track component
2. press play
3. navigate to some other pages
4. come back to the original podcast page and i would like to have the audio-track component still showing correctly the playing status and track progress

i th

[2017-05-03 02:21] andrewlongdotcom commented on #109
so just to follow up on my issue, it seems my approach was viable, but when i re-navigate to the page for an podcast that is the current item, i had to remove the audio-track component. i just bind the existing track that i retrieve in my page constructor to an audio-track-progress-bar

[2017-05-03 11:25] Tanuwijaya opened #116 "the audio is skipping"
Hi,
I just use the plugin, so far it's the only one plugin that works (I am new to ionic, so have not known many things in ionic). The plugin is run well except it will start to skip the audio after run more than 12 secs. It happen randomly, I mean has no certain time interval.
The audio is taken from the url
What should I do to fixed that?
Thanks in advance for the help.

[2017-05-06 06:57] maigussoft opened #118 "seekTo seems call in loop"
Hi,
When playing, seekto, audio player is looping. I think issue is related to audio-track-progress-bar.

      <ion-list no-lines>
          <audio-track #track [track]="m_track">
            <ion-item>
              <audio-track-play item-left [audioTrack]="track"><ion-spinner></ion-spinner></audio-track-play>
              <div item-content style="width:100%">
                <audio-track-progr

[2017-05-06 13:47] arielfaur commented on #109
Could any of you maybe provide a link to a project to download and test this scenario?

[2017-05-06 13:49] arielfaur commented on #118
Do you have a link to a codepen? I would need to see a full example.

[2017-05-06 13:51] arielfaur commented on #116
There is no way to know without looking at the code or a live example

[2017-05-07 00:01] shaks786 commented on #110
Hi, I tried using ionic-audio@3.0.0 but I'm still getting the same errors

[2017-05-07 02:32] mkatakam commented on #118
HI arielfaur,

I have the same problem... Please find the project here
https://drive.google.com/file/d/0B3fFfEzXyemqOHUtUDd3Rk0yZm8/view?usp=sharing

The players works very well but Audio starts immediately but skipping and repeating after 15 seconds and skips few times.... Audio without the progress bar is working fine.

I hope these files help you resolve this issue

Thanks and Regards
Matthew

[2017-05-10 16:08] andrewlongdotcom opened #119 "Track art on lock screen"
I am able to use ionic-audio to play my tracks and they continue to play in the background when i leave the app or lock the phone (iphone 6/ios 10.3.1). when i load my track i am setting the art property to a valid http url. the image shows up on my play page in the app, but i expect it to also be displayed from the lock screen as well as other track meta data (i.e. track and artist). but all i se

[2017-05-13 14:13] CzhCN1 opened #120 "error when stop the audio"
Hello,
when i stop the audio,  console the error just like this:

![image](https://cloud.githubusercontent.com/assets/11643146/26026175/3dbf8632-3829-11e7-870d-fdbe120ee396.png)

the audio really stop, and the error occur only the first time.

how the issue can be resolved？

[2017-05-15 12:39] davidanquetin commented on #118
Hello, exactly the same problem. AudioProvider without progress bar is woking fine, but with progress bar, audio is looping, and console show this :
![capture d ecran 2017-05-15 a 14 34 57](https://cloud.githubusercontent.com/assets/9817813/26058010/3d47d0fc-397c-11e7-9bff-2e1e4d767d8a.png)

[2017-05-15 17:39] napcat opened #121 "Ionic --prod error"
When trying to build in production mode passing the flag --prod the build gets an error.

[code]
Does the component needs to update it's dependencies?

How can I fix this error?

[2017-05-17 19:25] mobileguru121 opened #122 "Now working prev-next play function"
I cannot find the solution how to play prev and next audio from audio queue.
I'd like you to post the solution of this as soon as possible.

[2017-05-19 08:59] scuba303 opened #123 "track src from ajax request?"
sorry, i am more or less new to inonic. my problem: i can make the audio player work. thats fine. now i want to set the audio src dynamically from an ajax call. when i use
`  this.singleTrack = {
      src: 'https://archive.org/download/swrembel2010-03-07.tlm170.flac16/swrembel2010-03-07s1t05.mp3',
      artist: 'Stephane Wrembel',
      title: 'Stephane Wrembel Live',
      art: 'assets/img/Steph

[2017-05-21 03:29] AshishMehra commented on #95
Hey I got this working and load times are much better. However, seekTo no longer works! Did you have this issue too? Any solutions?

Many thanks!

[2017-05-22 06:45] chips0n commented on #118
Also facing the same issue in browser view (haven't tried it in app yet) - when progress bars are path of the HTML, playing loops for 3 seconds. I thought it was caused by using remote source (I am loading my playlist from a server and also the mp3 files are stored on a server, while the app is still local on my computer) until I've read this thread and found out that commenting the audio-track-pr

[2017-05-23 21:49] scuba303 opened #124 "ios - webaudio can't pause, using cordova media only last track is played"
hi. i am a bit frustated. if i use webaudio it will everywhere but not in ios. if i press pause on a trick it will instantly start again. no chance to stop a track. if i use cordova media all controls from each track work, xcode console tells me that we are dealing with the right track, but only the last track will be played.
adapted the example in my project. it's still running on  "ionic-audio":

[2017-05-25 15:37] anilkumar007 commented on #121
Did you solved the above issue?

[2017-05-27 23:18] HashmatWaziri commented on #116
@arielfaur , Yeah I also face this issue . please guide us on this. thanks

[2017-05-29 17:34] TimeTravelersHackedMe opened #125 "Reloading Audio"
Hey, I'm running into an issue occasionally after playing a few songs in a row. The issue comes about when stopping/playing a few different songs. All of a sudden I get a 403 forbidden error from SoundCloud and I can only play the first second of the song.

Is there anyway to reinitialize a song after it was already loaded? I'm thinking this might be able to resolve my issue where only the first s

[2017-05-29 17:34] TimeTravelersHackedMe commented on #125
I'd also like to be able to only autoload the first few tracks instead of 100+ at a time. Any ideas?

[2017-05-30 13:40] Luwangnoob commented on #31
Hi,
How do i add thumbnail inside ion-audio-progress-bar??
please help---

[2017-05-30 15:01] tbergeron commented on #116
For me audio is usually skipping only on browsers while developing. Not on actual devices (i.e. trying out builds via ionic view) so it might be only some development only issue?

[2017-05-30 15:21] tbergeron commented on #124
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 15:21] tbergeron commented on #120
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 15:22] tbergeron commented on #125
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 15:23] tbergeron commented on #116
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 15:25] tbergeron commented on #123
This is related to #106. No progress so far on that, I'll keep you updated if I find anything useful.

[2017-05-30 15:27] tbergeron commented on #122
There's no previousTrack() nextTrack() so far. I guess you'd need to pause the current track, switch it to the next one and play the track.

[code]

The thing is, this doesn't work fully right now because the player UI doesn't reflect the track change as stated here #106

I'll update this issue if I do any progress.

[2017-05-30 15:33] tbergeron commented on #119
Are you testing this via Ionic View or by deploying directly on the device? Just curious as I'm not getting the playback in the background working right now using Ionic View on iOS.

I'll take a look at this soon, I'll update this issue if I find anything worthwhile.

[2017-05-30 15:36] tbergeron commented on #114
Here's a quick example of how it should be done IMO. There's no previousTrack() nextTrack() yet so I guess you'd need to pause the current track like you mentioned, switch it to the next one and play the track.

[code]

The thing is, this doesn't work fully right now because the player UI doesn't reflect the track change as stated here #106 (as far as I know)

I'll update this issue if I do any pr

[2017-05-30 15:40] tbergeron commented on #111
So this works? Any update?

I guess this issue should be closed then?

[2017-05-30 15:42] tbergeron commented on #110
I'm not getting these errors at all. Could you try to update your package again? Is this still happening? If not could this issue be closed?

[2017-05-30 15:46] tbergeron commented on #107
Any update on this from original poster? Is this still happening? Did you try to update the package?

If this isn't happening anymore please close this issue. Thanks!

[2017-05-30 15:47] tbergeron commented on #104
Any update from original poster? Otherwise can we close this issue as it's a question and not really an "issue" with the code.

[2017-05-30 15:49] dhaval85 commented on #114
Thank you!

[2017-05-30 15:49] tbergeron commented on #98
I agree with @arielfaur on this, the requests are launched automatically because the elements are shown within the page. Only way of preventing them IMO would be to do some kind of lazy loading to prevent these requests until the user scrolls and the items get displayed.

Can we close this issue? This is a question and not really an "issue" with the code.

[2017-05-30 15:54] tbergeron commented on #88
I guess for the first part of the question about playlist playback you could implement onFinish?

i.e. `<audio-track #audio [track]="currentTrack" (onFinish)="onTrackFinished($event)">`

So you could do:

[code]

So when the track ends, you switch to the next and start playback? Just a thought.

[2017-05-30 15:55] tbergeron commented on #87
Did original poster retried this? Is this still occuring? Can we close this issue?

[2017-05-30 15:58] tbergeron commented on #86
There's no previousTrack() nextTrack() so far. I guess you'd need to pause the current track, switch it to the next one and play the track.

[code]

As for @devshisiyani question please check this https://github.com/arielfaur/ionic-audio/issues/88#issuecomment-304923855

The thing is, this doesn't work fully right now because the player UI doesn't reflect the track change as stated here #106

I'll

[2017-05-30 15:59] tbergeron commented on #85
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 15:59] tbergeron commented on #84
Is this still occurring? Otherwise can we close this issue?

[2017-05-30 16:01] tbergeron commented on #103
Is this all good now? Can we close this issue?

[2017-05-30 16:02] tbergeron commented on #83
Does this work now? Background audio plugin seemed to have done the trick? Can we close this issue?

[2017-05-30 16:03] tbergeron commented on #81
Surely a CORS issue otherwise please review this OP:

Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

[2017-05-30 16:04] tbergeron commented on #80
Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Please make sure to follow these simple guidelines

[2017-05-30 16:06] tbergeron commented on #79
Just for reference, these are also on the same topic:
https://github.com/arielfaur/ionic-audio/issues/122
https://github.com/arielfaur/ionic-audio/issues/114
https://github.com/arielfaur/ionic-audio/issues/88

I guess we could close a few of them some day lol

[2017-05-30 16:07] tbergeron commented on #75
Inactive issue? Can we close this?

[2017-05-30 16:07] tbergeron commented on #74
Inactive issue? Can we close this?

Otherwise:

Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Ple

[2017-05-30 16:07] tbergeron commented on #72
Inactive issue? Can we close this?

Otherwise:

Hi, I'm not the repository owner but I'm trying to help out as I need to use this package too so I'm doing my best to iron out the remaining issues. I've started to check out the opened issues. There are lots of doubles without any examples whatsoever. I'd like to do some clean up, so first I need to make sure the opened issues are legitimate.

**Ple

[2017-05-30 16:08] tbergeron commented on #69
Any reply from OP? Inactive issue? Can we close this?

[2017-05-30 16:09] tbergeron commented on #68
This could be easily be implemented via controller code instead of a built-in IMO. I see this package more like a simple audio player to build around and less like a complete audio playback / playlist solution.

[2017-05-30 16:10] tbergeron commented on #67
Inactive issue? Can we close this?

Otherwise you can review these:
https://github.com/arielfaur/ionic-audio/issues/88
https://github.com/arielfaur/ionic-audio/issues/114
https://github.com/arielfaur/ionic-audio/issues/122

[2017-05-30 16:11] tbergeron commented on #63
Any news from original poster?

[2017-05-30 16:12] tbergeron commented on #63
Trying once again :P any update @ccravens ?

[2017-05-30 16:12] tbergeron commented on #58
Any updates on this issue? Is this resolved?

[2017-05-30 16:14] tbergeron commented on #56
Is this resolved? Can we close this issue?

[2017-05-30 16:14] tbergeron commented on #53
Inactive issue? Can we close this?

[2017-05-30 16:14] tbergeron commented on #52
Inactive issue? Can we close this?

[2017-05-30 16:14] tbergeron commented on #45
Inactive issue? Can we close this?

[2017-05-30 16:15] tbergeron commented on #18
Any news from @puterleat ? Inactive issue? Can we close this?

[2017-05-30 16:17] tbergeron commented on #8
As @arielfaur mentioned this feature sounds really out-of-scope.
This should be handled by application code and not this package as this includes all kind of little details that would be hard to document on a per configuration basis.

I'm currently implementing this feature but within my app, not within the package itself and I suggest OP and commenters to do the same.

IMO we should close this is

[2017-05-30 16:19] tbergeron commented on #4
I'm trying to help out on this (for Ionic 3 at the moment) here are related issues:
https://github.com/arielfaur/ionic-audio/issues/122
https://github.com/arielfaur/ionic-audio/issues/114
https://github.com/arielfaur/ionic-audio/issues/88

IMO we should close this issue for inactivity and use the most recent ones.

[2017-05-30 16:20] tbergeron commented on #2
Inactive issue? Can we close this?
This is already working in v2 and v3 if I'm not mistaken.

[2017-05-30 16:52] sjosen commented on #84
I can test it soon. I can open a new issue if it's still a problem

[2017-05-30 18:09] andrewlongdotcom commented on #119
I am deploying the app to my device. I am almost positive that ionic view will not support background audio on ios.

[2017-05-30 20:02] tbergeron commented on #119
I thought the same about background audio & ionic view. Just wanted to know, thanks for the info!

[2017-05-31 04:43] #111 closed

[2017-05-31 04:44] mharini commented on #111
It works fine for me. Closing this issue.

[2017-05-31 06:00] jgarifuna commented on #118
I'm also experiencing the same issue. When I remove the progress bar only one call gets made to the server, however, the 7 second audio I have, does not play. I seems to attempt to play, but it loops around the 3 second mark to the beginning.

[2017-05-31 06:22] vintots commented on #75
yes , :)

[2017-05-31 06:22] #75 closed

[2017-06-01 06:56] ANANDAN0693 opened #126 "Problem with playing audio"
when the audio is playing seek to  triggered automatically in certain length and is looping the same audio i think this problem with the progress bar please help me solve this issue

thanks,
R.ANANDAN

[2017-06-01 07:07] ANANDAN0693 commented on #118
I'm also spacing the same issue today  .any solution to solve this

[2017-06-01 16:53] napcat commented on #121
Hello!

No the problem is still there... can't build with my current dependencies.

Build scripts 1.3.7, ionic 3.0 and angular 4.

[2017-06-02 05:37] ANANDAN0693 commented on #118
i made some come changes in ionic -audio-track-progress-component.ts
   ` <ion-range [(ngModel)]="range" min="0" max="100" (ngModelChange)="seekTo()" name="progress" ngDefaultControl>
      <time *ngIf="showProgress" range-left>{{audioTrack.progress | audioTime}}</time>
      <time *ngIf="showDuration" range-right>{{audioTrack.duration | audioTime}}</time>
    </ion-range>`
i just changed (ionChan

[2017-06-02 19:48] arielfaur commented on #119
@andrewlongdotcom @tbergeron Sorry I have been absent lately. I don't have time to look at ionic-audio issues lately, too busy on other -paid- projects 😸
I have no clue how you can get the metadata to appear on the lock screen. I assume a different plugin is needed, or something like that. If any of you find a way let me know!

[2017-06-02 19:50] arielfaur commented on #2
@tbergeron Yes, let's close it.

[2017-06-02 19:50] #2 closed

[2017-06-02 19:50] #4 closed

[2017-06-02 19:54] arielfaur commented on #8
Yes, no time for this now. Unless any of you want to own the taks 😄

[2017-06-02 19:54] #8 closed

[2017-06-02 19:54] #18 closed

[2017-06-02 19:55] arielfaur commented on #45
@benedyktdryl Sorry I didn't get back to you earlier. I guess this doesn't make sense now?

[2017-06-02 19:57] arielfaur commented on #52
I still need to look at this use case, but will focus on v2

[2017-06-02 19:57] #52 closed

[2017-06-02 19:57] #53 closed

[2017-06-02 19:58] #56 closed

[2017-06-02 19:59] #58 closed

[2017-06-02 19:59] #63 closed

[2017-06-02 20:03] arielfaur commented on #67
TODO

[2017-06-02 20:04] #69 closed

[2017-06-02 20:04] #72 closed

[2017-06-02 20:07] arielfaur commented on #79
#88

[2017-06-02 20:07] #79 closed

[2017-06-02 20:08] #80 closed

[2017-06-02 20:12] #81 closed

[2017-06-02 20:13] #83 closed

[2017-06-02 20:14] #103 closed

[2017-06-02 20:14] #85 closed

[2017-06-02 20:15] arielfaur commented on #86
#88

[2017-06-02 20:15] #86 closed

[2017-06-02 20:15] #87 closed

[2017-06-02 20:16] #98 closed

[2017-06-02 20:16] #104 closed

[2017-06-02 20:17] #107 closed

[2017-06-02 20:18] arielfaur commented on #110
Maybe you can tell us about your environment and share some code?

[2017-06-02 20:23] arielfaur commented on #116
Waiting for some more details...

[2017-06-02 20:34] arielfaur commented on #125
@TimeTravelersHackedMe I just tested playing one song over and over again. There seems to be no need to reinitialize the song after loading it. On the other hand, there is a way to tell the plugin not to preload the audio by setting the `preload` property.
[code]

[2017-06-02 20:42] arielfaur commented on #120
@CzhCN1 Are you trying to access the `error` property of `WebAudioTrack` after stopping the track?
Because stopping a track will release that instance and destroy the resources, therefore the audio is undefined. Maybe that is a minor bug to address to avoid accessing an undefined audio instance.

[2017-06-02 21:30] arielfaur commented on #121
@napcat I see this error now after upgrading to Angular 4.1.2. Creating a module for Ionic and Angular is hard work because of the maintenance. Every release breaks something. I have changed the module quite a few times already to fix AOT related errors. I searched briefly and couldn't find any documentation related to that build error. Maybe someone can shed some light.

[2017-06-03 05:08] stefanheule commented on #121
I did some investigation, and I believe I found the fix, see pull request https://github.com/arielfaur/ionic-audio/pull/127.

[2017-06-03 10:00] napcat commented on #121
Can that be merged in 3.0 version and we get an updated version?

[2017-06-05 16:44] tbergeron commented on #106
I found a way of doing this.

I got rid of all <track> instance in the list itself and only kept one <track> instance for the main player.

[code]

Then I have only one real <track> at the bottom:

[code]

I have made one provider that handles the AudioProvider:

[code]

That way the UI reflects the change since it is bound on the right objects.

IMO this is the best way of doing this and also the

[2017-06-05 16:57] tbergeron opened #128 "Audio track progress range doesn't work properly"
When changing tracks, the progress knob resets but instead of going back to the left, it starts the new track from the last track position as seen in this animation below:

![screen capture on 2017-06-05 at 12-49-47](https://cloud.githubusercontent.com/assets/70296/26793916/b8be561c-49ed-11e7-9a27-5cb71e5bcf05.gif)

### What happens is / How to replicate
(sorry for the delays in the gif, loading b

[2017-06-05 17:30] arielfaur commented on #128
@tbergeron interesting behavior 😄 I guess it has to do with the Angular bindings that need to be reset.

[2017-06-05 17:32] arielfaur commented on #106
Sorry I haven't been able to keep up with the number of issues. It's hell, with every Ionic / Angular update things get broken because they change the strategy. I don't have time to commit to this right now.

[2017-06-05 17:36] arielfaur commented on #118
It seems that I will have to look into this 😢

[2017-06-05 17:37] arielfaur commented on #126
#118

[2017-06-05 17:37] #126 closed

[2017-06-05 17:38] #84 closed

[2017-06-05 17:40] #45 closed

[2017-06-05 17:42] #74 closed

[2017-06-05 17:50] tbergeron commented on #106
@arielfaur no worries, I totally understand the feeling! I'm using your code for a project so I'll try to help out with the repository. I'll do my best to provide help, try to fix bugs and provide pull request once I'm confident with my changes. That way you won't have to put too much attention except for accepting a few PRs from time to time 😄 Thanks for the feedback!

[2017-06-06 16:42] drhouse7 opened #129 "Unhandled Promise rejection: Template parse errors: Can't bind to 'track' since it isn't a known property of 'audio-track'."
Hi,
I'm new at Angular and Ionic...I tried this plugin but still get this message:

[code]
I did everything you wrote [here](http://arielfaur.github.io/ionic-audio/2.0/index.html)

Also on my text editor, I get this error
`Property 'selectedTrack' does not exists on type`

Any support is really appreciate, thanks!

[2017-06-06 23:58] sfaizanh commented on #121
@napcat can you check `node_modules/ionic-audio/` contain `node_modules` directory, if exists then delete that and build with --prod flag.

Every time you install package there will be node_modules in ionic-audio folder so you have to remove it until @arielfaur fixed that, @arielfaur you can fix that by moving dependencies to devDependencies https://github.com/arielfaur/ionic-audio/pull/102/files#

[2017-06-07 15:37] drhouse7 opened #130 "Property 'selectedTrack' does not exist on type 'AudioService'"
As in the info I tried:
[code]
This is the error:
Property 'selectedTrack' does not exist on type 'AudioService'

[2017-06-07 18:17] arielfaur commented on #121
@sfaizanh I have been pulling my hair trying to make AOT work. It simply does not compile with `-prod`.
I have already moved dependencies to *devDependencies* as you suggested.  Could you please take a look at the code I pushed to the `3.0` branch? I may have overlooked something. The code compiles and works find with a normal build. Try to run a `npm run build --prod` inside the `demo` project fo

[2017-06-07 18:19] arielfaur commented on #121
#127

[2017-06-07 18:37] sfaizanh commented on #121
Sure I'll look into it, give me hour or 2

Sent from my iPhone

[2017-06-07 19:11] sjosen commented on #118
I have the same issue. Files playing over and over after just a few seconds. The strange thing though is that when I cloned the repo and ran ionic serve in the demo dir, the problem was not there. I'm not smart enough to track down the issue though

[2017-06-07 22:21] drhouse7 commented on #129
First of all I saw the demo here that is completely different from this http://arielfaur.github.io/ionic-audio/2.0/index.html and I change it accordingly on my project...after
I edit my component page adding **NO_ERRORS_SCHEMA** likes below:

[code]

Now all errors are gone and it works.

[2017-06-07 22:22] #129 closed

[2017-06-07 22:23] #130 closed

[2017-06-07 22:49] sfaizanh commented on #128
@arielfaur i have an similar issue when i play an audio it repeats every 2 or three seconds backwards.
if i play single track it works fine but with knob behave like this. I used your code from demo

[2017-06-08 05:56] chips0n commented on #118
I have spent too much time trying to debug this issue. At the end I decided to develop my own player with playlists and controls and now it works just fine. Using Ionic 3 and native plugins Media and MusicControls - more than enough. Having a progress bar takes 5 lines of code. Another 5 lines for current time update...

[2017-06-08 16:23] Gjallanhorn commented on #118
[code]

[2017-06-08 18:36] sjosen commented on #118
Editing the ionic-audio-track-progress-component.ts doesn't change anything for me. I have to make the change in ionic-audio-track-progress-component.js instead. What am I doing wrong?

[2017-06-09 05:33] Avinashoo7 commented on #125
I have done the same whatever step as per (ionic-audio)documentation for ionic 3. I have an issue, track play properly for few second after that track goes few second's back and keep on loop for fix duration of Seconds.

[2017-06-09 05:41] Avinashoo7 opened #132 "Audio Keeps on loop for fix duration(fix duration depend's on song length) of Seconds"
When I had installed ionic-audio module for ionic 3, it's work fine for some tracK but after that it's keep on looping for fix duration of second.

[2017-06-09 12:05] Gjallanhorn commented on #118
Exactly, you gave to change the .js file too. Or gulp .ts file.

[2017-06-09 20:32] #121 closed

[2017-06-09 20:33] #110 closed

[2017-06-11 10:35] CzhCN1 commented on #120
thank you my friend, got it.

[2017-06-11 10:51] bhlokhandwala commented on #94
[WARN] Error occurred during command execution from a CLI plugin (@ionic/cli-plugin-cordova). Your plugins may be out of date.
Error: Error encountered resolving symbol values statically. Calling function 'providers', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol IonicAudioModule.forRoot in /Users/burhanuddinl

[2017-06-11 11:17] sfaizanh commented on #94
@bhlokhandwala which ionic version are you using and what version of ionic-audio also

[2017-06-12 13:17] ANANDAN0693 commented on #132
i made some come changes in ionic -audio-track-progress-component.ts
`<ion-range [(ngModel)]="range" min="0" max="100" (ngModelChange)="seekTo()" name="progress" ngDefaultControl> <time *ngIf="showProgress" range-left>{{audioTrack.progress | audioTime}}</time> <time *ngIf="showDuration" range-right>{{audioTrack.duration | audioTime}}</time> </ion-range>`
i just changed (ionChange) to (ngModelChang

[2017-06-12 14:27] thomdejong101 commented on #94
@bhlokhandwala
I appear to have the same error here are my version numberss:

Cordova CLI : 6.5.0
Ionic CLI : 3.3.0
Ionic Framework : ionic-angular 3.3.0

Ionic-audio: 3.0.2

[16:24:36]  ngc started ...
[WARN] Error occurred during command execution from a CLI plugin (@ionic/cli-plugin-cordova). Your plugins may be out of date.
Error: Error encountered resolving symbol values statically. Calling f

[2017-06-13 09:10] thomdejong101 opened #133 "AOT compile error"
**Ionic-audio version:**
[ X] 3.0.2

**I'm submitting a ...**
[ X] bug report

**Current behavior:**

When trying to compile with the --prod I receive the following error:
[code]

**Expected behavior:**

A compile with Aot

**Steps to reproduce:**

Execute: ionic cordova build android --prod

Regular build when executing "ionic cordova build android" succeeds.

**Related code:**

There probably is

[2017-06-14 02:06] sfaizanh commented on #133
@thomdejong101 can you provide your **`app.module.ts`** file

Hi @thomdejong101,

Just want to see **imports** and **providers**
[code]

[2017-06-14 05:22] ANANDAN0693 commented on #133
me also facing the same issue please any one help me solve this friends

acing the function or lambda with a reference to an exported function, resolving symbol Injectable in D:/anandan/ionic2App/podcast03062017/Podc
ast/node_modules/ionic-audio/node_modules/@angular/core/core.d.ts, resolving symbol ɵf in D:/anandan/ionic2App/podcast03062017/Podcast/node_mod
ules/ionic-audio/node_modules/@angular/

[2017-06-14 05:23] thomdejong101 commented on #133
@sfaizanh
These are my Imports and providers:
[code]

[2017-06-14 06:08] sfaizanh commented on #133
[code]

Add `{ provide: AudioProvider, useFactory: myCustomAudioProviderFactory }` in **providers** and add
[code]
before `@NgModule`

[2017-06-14 06:11] ANANDAN0693 commented on #133
where  i add this @sfaizanh  in my app module or ionic-audio plugin module

[2017-06-14 06:25] sfaizanh commented on #133
@ANANDAN0693
[code]
[code]

[2017-06-14 06:28] ANANDAN0693 commented on #133
see this my app.module

[code]

[2017-06-14 06:30] sfaizanh commented on #133
Can you provide the error and in Terminal `ionic info` and paste here

[2017-06-14 06:37] ANANDAN0693 commented on #133
![screenshot_17](https://user-images.githubusercontent.com/28975796/27118638-d241fe64-50f9-11e7-9253-d6604eb14409.png)

global packages:

    @ionic/cli-utils : 1.4.0
    Cordova CLI      : 7.0.1
    Ionic CLI        : 3.4.0

local packages:

    @ionic/app-scripts              : 1.3.7
    @ionic/cli-plugin-cordova       : 1.4.0
    @ionic/cli-plugin-ionic-angular : 1.3.1
    Cordova Platforms

[2017-06-14 06:51] #132 closed

[2017-06-14 07:15] thomdejong101 commented on #133
@sfaizanh

I have added the function and provider as you said. The error, however, does not change.
Note however that my error is different from the error of ANANDAN0693. His error is about the makedecorator where mine is about the providers function.

`Error: Error encountered resolving symbol values statically. Calling function 'providers', function calls are not supported. Consider replacing th

[2017-06-14 12:34] ANANDAN0693 commented on #133
YES @thomdejong101  my issue differ from your issue now my issues is fixed by removing node-module folder from ionic-audio

[2017-06-14 15:26] sfaizanh commented on #133
Check `node_modules/ionic-audio` contain `node_modules` directory ? if exists then remove it as @ANANDAN0693 says

[2017-06-14 15:56] thomdejong101 commented on #133
@sfaizanh As can be seen in [this](http://prntscr.com/fjqblu) screenshot there is no node_modules map in the ionic-audio folder.

[2017-06-15 13:20] arielfaur commented on #125
#132

[2017-06-15 13:21] arielfaur commented on #118
#132

[2017-06-15 13:36] arielfaur commented on #133
@ANANDAN0693 @sfaizanh @thomdejong101
For some reason I cannot explain this keeps appearing. I see it now too. It is really a pain when there is no documentation out there and we have to find the cause on a trial and error basis.

[2017-06-15 14:45] arielfaur commented on #133
OK, it looks like I have been able to fix it in version `3.0.4`. The way to go was to pass a factory function as a parameter to the `IonicAudioModule.forRoot()` method. I updated the demo project. I look forward to your feedback!

[2017-06-15 14:52] thomdejong101 commented on #133
@arielfaur
Thank you for the update it works for me now. I pass in a null object which resolves correctly. Please dont forget to update the documentation on [https://arielfaur.github.io/ionic-audio/2.0/index.html](https://arielfaur.github.io/ionic-audio/2.0/index.html).

[2017-06-15 14:59] arielfaur commented on #133
@thomdejong101 Are you sure it works with a null object? The module requires a factory function to determine which audio provider to use.

[2017-06-15 15:21] thomdejong101 commented on #133
@arielfaur I just checked my solution. I was working because I still had the provider declared as mentioned earlier in this thread.

`{ provide: AudioProvider, useFactory: myCustomAudioProviderFactory },`

After removing this passing in null did crash the app but only after the build succeeded. I have replaced it with the myCustomAudioProviderFactory provided earlier. I do also receive multiple wa

[2017-06-15 21:17] arielfaur commented on #133
Thanks @thomdejong101
Yes, I am aware of those warnings. I have time until the next big Angular release 😄
So the right way to initialize Ionic Audio is by passing a factory function. It is the only way I could make AOT work. At least Angular puts together a document explaining how to properly write modules for AOT, one day...hopefully 😃

[2017-06-15 21:17] #133 closed

[2017-06-16 07:15] hvlads opened #134 "Can I use the AudioTrackComponent in an application that uses menu?"
Good day! Can I use the component in an application that uses  menu. I noticed that with  page refresh, new objects are created.

How can I make only new tracks added to this._audioProvider.tracks? I tried changing the code in the component, but I do not think this is the right way.

`let src = this._audioProvider.tracks.map(function (e) {
        return e.src;
      }).indexOf(this.track.src);

[2017-06-16 16:22] #134 closed

[2017-06-19 12:21] betatools opened #135 "Error when building with --prod flag"
EDIT

Solved it by updating to version 3.0.4. Sorry for the inconvenience
-----------------------

I get the following error when building with the --prod flag. The error message indicates it is an issue with the ionic-audio plugin. Any advice on this?

[14:17:36]  build prod started ...
[14:17:36]  clean started ...
[14:17:36]  clean finished in less than 1 ms
[14:17:36]  copy started ...
[14:17:

[2017-06-19 12:52] #135 closed

[2017-06-19 16:16] betatools commented on #118
Hello. With 3.0.4 this is an issue for me again. Changing ionChange to ngModelChange doesn't work for me this time. Removing the progressbar from the view works but is not the desired solution.

[2017-06-20 13:20] davidkirolos commented on #119
You will nee Music Controls plugin to run along with ionic-audio,
I think It would be nice if we can add the code to manage Music Controls to ionic-audio component.

Please check Music Controls Plugin [here](http://ionicframework.com/docs/native/music-controls/)

Notice Music controls doesn't work correctly with background mode enabled, but using it will keep your audio file playing even in the ba

[2017-06-21 06:28] betatools commented on #132
Fix not working for me on 3.0.4

[2017-06-22 14:56] betatools commented on #118
After some testing it seems that it works when building without --prod but not with. Just fyi

[2017-06-22 17:28] arielfaur commented on #132
This hasn't been fixed yet

[2017-06-22 18:25] hvlads commented on #118
`<progress id="progressbar" name="range" (click)="seekTo($event)" max="100" width="100%"
                  [value]="range"></progress>
`

`seekTo($event) {
    let x = $event.offsetX,
      y = $event.srcElement.offsetWidth,
      clickedValue = x/(y / 100) ;
    this.range = clickedValue;
    let seekTo: number = Math.round(this.singleTrack.duration*clickedValue)/100;
    if (!Number.isNaN(seekTo

[2017-06-22 21:14] MattyWilkinson commented on #118
As noted above by @maigussoft, this problem only occurs when there's an `audio-track-progress-bar` associated with the track.

This issue can be observed in the demo app with the first two (John Mayer) tracks, but not with the 3rd (Stephane Wrembel) track. Removing the progress bar from either of the first two tracks causes the problem to go away for that track.

The logcat logs from my Android em

[2017-06-26 11:38] krunalm1992 commented on #106
@tbergeron I have tried your code but it gives me error at this.audioProvider.clear(); also looks like AudioProvider doesn't have method clear().
Can you please share your full code?

[2017-06-26 14:50] yoojene commented on #40
Hi All, also having this issue on device - no spaces in URL.

@cinder92 if you can confirm which version of the media plugin worked for you would be appreciated

I am currently on:

 "cordova-plugin-media": "3.0.1".

[2017-06-27 00:08] tbergeron commented on #106
@krunalm1992 oops sorry about that. clear() is a method I have yet to PR. You can use `this.audioProvider.tracks = [];` instead.

[2017-06-28 08:59] Dzejms commented on #112
I play one track when entering a view and execute this in `ionViewDidEnter`
[code]
Might not be the best way but it seems to work with no noticeable leaks.

[2017-06-29 10:56] betatools commented on #132
I changed (ionChange)=\"seekTo()\" to (ngModelChange)=\"seekTo()\" in both ionic-audio-track-progress-component.js and ionic-audio-track-progress-component.metadata.json and so far it works even with the --prod flag. Testes on both Android and iOS

Dunno if that helps in the progress of a fix

[2017-06-30 22:10] th3nule commented on #130
Good night, you found the solution?

[2017-07-01 23:27] arielfaur commented on #132
This has been fixed in `3.1.0`. I refactored the progress bar component which was causing trouble. It was based on the Ionic's `ion-range` control that didn't play well with the `seekTo()` functionality. I had to refactor the component using a standard HTML range component which is fully customizable using SASS variables.